# Discretization and Binning with pd.cut() and pd.qcut()

In [2]:
import pandas as pd

In [3]:
titanic = pd.read_csv('../titanic.csv')

In [7]:
category_age = [0, 18, 30, 50, 100]

# cut() function is used to segment and sort data values into bins.
## Parameters: x = means the data values to be binned, bins = the number of bins to be used and right = whether the bins are right-closed or not.

In [10]:
category = pd.cut(x=titanic.age, bins=category_age, right=False)
category

0      [18.0, 30.0)
1      [30.0, 50.0)
2      [18.0, 30.0)
3      [30.0, 50.0)
4      [30.0, 50.0)
           ...
886    [18.0, 30.0)
887    [18.0, 30.0)
888             NaN
889    [18.0, 30.0)
890    [30.0, 50.0)
Name: age, Length: 891, dtype: category
Categories (4, interval[int64, left]): [[0, 18) < [18, 30) < [30, 50) < [50, 100)]

## Now we can count the number of passengers in each category.

In [11]:
category.value_counts()

age
[18, 30)     271
[30, 50)     256
[0, 18)      113
[50, 100)     74
Name: count, dtype: int64

In [12]:
titanic['age_category'] = category

In [13]:
titanic.head()

,survived,pclass,sex,age,sibsp,parch,fare,embarked,deck,age_category
0,0,3,male,22.0,1,0,7.2500,S,NaN,"[18, 30)"
1,1,1,female,38.0,1,0,71.2833,C,C,"[30, 50)"
2,1,3,female,26.0,0,0,7.9250,S,NaN,"[18, 30)"
3,1,1,female,35.0,1,0,53.1000,S,C,"[30, 50)"
4,0,3,male,35.0,0,0,8.0500,S,NaN,"[30, 50)"

In [14]:
titanic.groupby(by='age_category').survived.mean()

C:\Users\Darius\AppData\Local\Temp\ipykernel_5000\4191036536.py:1: FutureWarning: The default of observed=False is deprecated and will be changed to True in a future version of pandas. Pass observed=False to retain current behavior or observed=True to adopt the future default and silence this warning.
  titanic.groupby(by='age_category').survived.mean()

age_category
[0, 18)      0.539823
[18, 30)     0.350554
[30, 50)     0.417969
[50, 100)    0.364865
Name: survived, dtype: float64

In [15]:
group_name =  ['child', 'young', 'middle', 'old']

In [16]:
titanic['age_category'] = pd.cut(x=titanic.age, bins=category_age, right=False, labels=group_name)

In [17]:
titanic.head()

,survived,pclass,sex,age,sibsp,parch,fare,embarked,deck,age_category
0,0,3,male,22.0,1,0,7.2500,S,NaN,young
1,1,1,female,38.0,1,0,71.2833,C,C,middle
2,1,3,female,26.0,0,0,7.9250,S,NaN,young
3,1,1,female,35.0,1,0,53.1000,S,C,middle
4,0,3,male,35.0,0,0,8.0500,S,NaN,middle