In [16]:
import pandas as pd

In [17]:
data = {
    'customer_name': ['Timi Customer', 'Larisa Customer Co', 'Gabi Customer', 'Raul Customer', 'Elias Customer'],
    'pickup_city': ['New York', 'Los Angeles', 'Chicago', 'Dallas', 'Mexico City'],
    'dropoff_city': ['San Antonio', 'San Diego', 'Texas', 'San Jose', 'Austin'],
    'total_income': [500, 1000, 1500, 2000, 2500],
}

In [18]:
df = pd.DataFrame(data)

In [19]:
df

        customer_name  pickup_city dropoff_city  total_income
0       Timi Customer     New York  San Antonio           500
1  Larisa Customer Co  Los Angeles    San Diego          1000
2       Gabi Customer      Chicago        Texas          1500
3       Raul Customer       Dallas     San Jose          2000
4      Elias Customer  Mexico City       Austin          2500

In [20]:
df.to_csv('customers.csv', index=False)