In [25]:
import pandas as pd

# Sorting DataFrames

In [26]:
titanic = pd.read_csv("../../Data/titanic.csv")

## Sex is first sorted column, age is second sorted column
## ascending = False means that the values are sorted in descending order 
## sex is sorted in descending order, age is sorted in ascending order

In [27]:
titanic.sort_values(by=["sex","age"], ascending=[False,True])

     survived  pclass     sex   age  sibsp  parch      fare embarked deck
803         1       3    male  0.42      0      1    8.5167        C  NaN
755         1       2    male  0.67      1      1   14.5000        S  NaN
78          1       2    male  0.83      0      2   29.0000        S  NaN
831         1       2    male  0.83      1      1   18.7500        S  NaN
305         1       1    male  0.92      1      2  151.5500        S    C
..        ...     ...     ...   ...    ...    ...       ...      ...  ...
727         1       3  female   NaN      0      0    7.7375        Q  NaN
792         0       3  female   NaN      8      2   69.5500        S  NaN
849         1       1  female   NaN      1      0   89.1042        C    C
863         0       3  female   NaN      8      2   69.5500        S  NaN
888         0       3  female   NaN      1      2   23.4500        S  NaN

[891 rows x 9 columns]

### Reset index (drop=True) to avoid old index being added as a new column
### No use this parameter if you want to keep the old index as a new column

In [28]:
titanic.sort_values(by=["sex","age"], ascending=[False,True]).reset_index()

,index,survived,pclass,sex,age,sibsp,parch,fare,embarked,deck
0,803,1,3,male,0.42,0,1,8.5167,C,NaN
1,755,1,2,male,0.67,1,1,14.5000,S,NaN
2,78,1,2,male,0.83,0,2,29.0000,S,NaN
3,831,1,2,male,0.83,1,1,18.7500,S,NaN
4,305,1,1,male,0.92,1,2,151.5500,S,C
...,...,...,...,...,...,...,...,...,...,...
886,727,1,3,female,NaN,0,0,7.7375,Q,NaN
887,792,0,3,female,NaN,8,2,69.5500,S,NaN
888,849,1,1,female,NaN,1,0,89.1042,C,C
889,863,0,3,female,NaN,8,2,69.5500,S,NaN
890,888,0,3,female,NaN,1,2,23.4500,S,NaN

In [29]:
titanic.sort_values(by=["sex","age"], ascending=[False,True]).reset_index(drop=True)

     survived  pclass     sex   age  sibsp  parch      fare embarked deck
0           1       3    male  0.42      0      1    8.5167        C  NaN
1           1       2    male  0.67      1      1   14.5000        S  NaN
2           1       2    male  0.83      0      2   29.0000        S  NaN
3           1       2    male  0.83      1      1   18.7500        S  NaN
4           1       1    male  0.92      1      2  151.5500        S    C
..        ...     ...     ...   ...    ...    ...       ...      ...  ...
886         1       3  female   NaN      0      0    7.7375        Q  NaN
887         0       3  female   NaN      8      2   69.5500        S  NaN
888         1       1  female   NaN      1      0   89.1042        C    C
889         0       3  female   NaN      8      2   69.5500        S  NaN
890         0       3  female   NaN      1      2   23.4500        S  NaN

[891 rows x 9 columns]

# Ranking DataFrames
## ascending = True means that the values are ranked in low to high order

In [30]:
titanic["rank_age"] = titanic.age.rank(ascending=True, method='min')

In [31]:
titanic.head()

,survived,pclass,sex,age,sibsp,parch,fare,embarked,deck,rank_age
0,0,3,male,22.0,1,0,7.2500,S,NaN,205.0
1,1,1,female,38.0,1,0,71.2833,C,C,527.0
2,1,3,female,26.0,0,0,7.9250,S,NaN,302.0
3,1,1,female,35.0,1,0,53.1000,S,C,480.0
4,0,3,male,35.0,0,0,8.0500,S,NaN,480.0

In [32]:
titanic.sort_values('age', ascending=True)

,survived,pclass,sex,age,sibsp,parch,fare,embarked,deck,rank_age
803,1,3,male,0.42,0,1,8.5167,C,NaN,1.0
755,1,2,male,0.67,1,1,14.5000,S,NaN,2.0
644,1,3,female,0.75,2,1,19.2583,C,NaN,3.0
469,1,3,female,0.75,2,1,19.2583,C,NaN,3.0
78,1,2,male,0.83,0,2,29.0000,S,NaN,5.0
...,...,...,...,...,...,...,...,...,...,...
859,0,3,male,NaN,0,0,7.2292,C,NaN,NaN
863,0,3,female,NaN,8,2,69.5500,S,NaN,NaN
868,0,3,male,NaN,0,0,9.5000,S,NaN,NaN
878,0,3,male,NaN,0,0,7.8958,S,NaN,NaN
888,0,3,female,NaN,1,2,23.4500,S,NaN,NaN

# Small and large values in DF
## (n=5) means that the 5 smallest values are returned

In [33]:
titanic.nlargest(n=5, columns="age")

,survived,pclass,sex,age,sibsp,parch,fare,embarked,deck,rank_age
630,1,1,male,80.0,0,0,30.0000,S,A,714.0
851,0,3,male,74.0,0,0,7.7750,S,NaN,713.0
96,0,1,male,71.0,0,0,34.6542,C,A,711.0
493,0,1,male,71.0,0,0,49.5042,C,NaN,711.0
116,0,3,male,70.5,0,0,7.7500,Q,NaN,710.0

## (n=5) means that the 5 largest values are returned

In [34]:
titanic.nsmallest(n=5, columns="age")

,survived,pclass,sex,age,sibsp,parch,fare,embarked,deck,rank_age
803,1,3,male,0.42,0,1,8.5167,C,NaN,1.0
755,1,2,male,0.67,1,1,14.5000,S,NaN,2.0
469,1,3,female,0.75,2,1,19.2583,C,NaN,3.0
644,1,3,female,0.75,2,1,19.2583,C,NaN,3.0
78,1,2,male,0.83,0,2,29.0000,S,NaN,5.0

## agg() method to apply different functions to different columns
## we can use a dictionary to specify which function to apply to which column

In [35]:
titanic.agg({"survived": "mean", "age": ["min", "max"]})

      survived    age
mean  0.383838    NaN
min        NaN   0.42
max        NaN  80.00

# apply(), map(), and applymap()

In [36]:
sales = pd.read_csv('sales.csv')

FileNotFoundError: [Errno 2] No such file or directory: 'sales.csv'

In [37]:
sales

NameError: name 'sales' is not defined

In [38]:
sales.info

NameError: name 'sales' is not defined

In [39]:
def sum_function(x):
    return x.max() - x.min()

## axis=0 means that the function is applied to each column (de sus in jos se aplica in cazul notru pentru
prima coloana 'Mon' se calcula 87-17=70)
## axis=1 means that the function is applied to each row    (de la stanga la dreapta se aplica in cazul nostru
pentru prima coloaana 'Mon' se calculeaza 34-15 = 19)

In [40]:
sales.apply(func=sum_function, axis=1)

NameError: name 'sales' is not defined

## or apply with lambda funct.

In [41]:
sales.apply(lambda x: x.max() - x.min(), axis=0)

NameError: name 'sales' is not defined

## map() method to substitute each value in a series with another value
## map() method is used for Pandas series

In [42]:
sales.Mon.map(lambda x: x - 1)

NameError: name 'sales' is not defined

# MultiIndex

In [43]:
titanic.head(50)

,survived,pclass,sex,age,sibsp,parch,fare,embarked,deck,rank_age
0,0,3,male,22.0,1,0,7.2500,S,NaN,205.0
1,1,1,female,38.0,1,0,71.2833,C,C,527.0
2,1,3,female,26.0,0,0,7.9250,S,NaN,302.0
3,1,1,female,35.0,1,0,53.1000,S,C,480.0
4,0,3,male,35.0,0,0,8.0500,S,NaN,480.0
5,0,3,male,NaN,0,0,8.4583,Q,NaN,NaN
6,0,1,male,54.0,0,0,51.8625,S,E,665.0
7,0,3,male,2.0,3,1,21.0750,S,NaN,15.0
8,1,3,female,27.0,0,2,11.1333,S,NaN,320.0
9,1,2,female,14.0,1,0,30.0708,C,NaN,72.0
10,1,3,female,4.0,1,1,16.7000,S,G,31.0
11,1,1,female,58.0,0,0,26.5500,S,C,682.0
12,0,3,male,20.0,0,0,8.0500,S,NaN,165.0
13,0,3,male,39.0,1,5,31.2750,S,NaN,538.0
14,0,3,female,14.0,0,0,7.8542,S,NaN,72.0
15,1,2,female,55.0,0,0,16.0000,S,NaN,673.0
16,0,3,male,2.0,4,1,29.1250,Q,NaN,15.0
17,1,2,male,NaN,0,0,13.0000,S,NaN,NaN
18,0,3,female,31.0,1,0,18.0000,S,NaN,412.0
19,1,3,female,NaN,0,0,7.2250,C,NaN,NaN
20,0,2,male,35.0,0,0,26.0000,S,NaN,480.0
21,1,2,male,34.0,0,0,13.0000,S,D,464.0
22,1,3,female,15.0,0,0,8.0292,Q,NaN,79.0
23,1,1,male,28.0,0,0,35.5000,S,A,338.0
24,0,3,female,8.0,3,1,21.0750,S,NaN,51.0
25,1,3,female,38.0,1,5,31.3875,S,NaN,527.0
26,0,3,male,NaN,0,0,7.2250,C,NaN,NaN
27,0,1,male,19.0,3,2,263.0000,S,C,140.0
28,1,3,female,NaN,0,0,7.8792,Q,NaN,NaN
29,0,3,male,NaN,0,0,7.8958,S,NaN,NaN
30,0,1,male,40.0,0,0,27.7208,C,NaN,552.0
31,1,1,female,NaN,1,0,146.5208,C,B,NaN
32,1,3,female,NaN,0,0,7.7500,Q,NaN,NaN
33,0,2,male,66.0,0,0,10.5000,S,NaN,707.0
34,0,1,male,28.0,1,0,82.1708,C,NaN,338.0
35,0,1,male,42.0,1,0,52.0000,S,NaN,573.0
36,1,3,male,NaN,0,0,7.2292,C,NaN,NaN
37,0,3,male,21.0,0,0,8.0500,S,NaN,181.0
38,0,3,female,18.0,2,0,18.0000,S,NaN,114.0
39,1,3,female,14.0,1,0,11.2417,C,NaN,72.0
40,0,3,female,40.0,1,0,9.4750,S,NaN,552.0
41,0,2,female,27.0,1,0,21.0000,S,NaN,320.0
42,0,3,male,NaN,0,0,7.8958,C,NaN,NaN
43,1,2,female,3.0,1,2,41.5792,C,NaN,25.0
44,1,3,female,19.0,0,0,7.8792,Q,NaN,140.0
45,0,3,male,NaN,0,0,8.0500,S,NaN,NaN
46,0,3,male,NaN,1,0,15.5000,Q,NaN,NaN
47,1,3,female,NaN,0,0,7.7500,Q,NaN,NaN
48,0,3,male,NaN,2,0,21.6792,C,NaN,NaN
49,0,3,female,18.0,1,0,17.8000,S,NaN,114.0

In [44]:
titanic_v1 = titanic.set_index(['pclass', 'sex'])
titanic_v1

               survived   age  sibsp  parch     fare embarked deck  rank_age
pclass sex
3      male           0  22.0      1      0   7.2500        S  NaN     205.0
1      female         1  38.0      1      0  71.2833        C    C     527.0
3      female         1  26.0      0      0   7.9250        S  NaN     302.0
1      female         1  35.0      1      0  53.1000        S    C     480.0
3      male           0  35.0      0      0   8.0500        S  NaN     480.0
...                 ...   ...    ...    ...      ...      ...  ...       ...
2      male           0  27.0      0      0  13.0000        S  NaN     320.0
1      female         1  19.0      0      0  30.0000        S    B     140.0
3      female         0   NaN      1      2  23.4500        S  NaN       NaN
1      male           1  26.0      0      0  30.0000        C    C     302.0
3      male           0  32.0      0      0   7.7500        Q  NaN     429.0

[891 rows x 8 columns]

In [45]:
titanic_v1.sort_index(ascending=[True,False])

               survived   age  sibsp  parch      fare embarked deck  rank_age
pclass sex
1      male           0  54.0      0      0   51.8625        S    E     665.0
       male           1  28.0      0      0   35.5000        S    A     338.0
       male           0  19.0      3      2  263.0000        S    C     140.0
       male           0  40.0      0      0   27.7208        C  NaN     552.0
       male           0  28.0      1      0   82.1708        C  NaN     338.0
...                 ...   ...    ...    ...       ...      ...  ...       ...
3      female         0   NaN      8      2   69.5500        S  NaN       NaN
       female         1  15.0      0      0    7.2250        C  NaN      79.0
       female         0  22.0      0      0   10.5167        S  NaN     205.0
       female         0  39.0      0      5   29.1250        Q  NaN     538.0
       female         0   NaN      1      2   23.4500        S  NaN       NaN

[891 rows x 8 columns]

## All rows for pclass 1

In [46]:
titanic_v1.loc[1]

        survived   age  sibsp  parch     fare embarked deck  rank_age
sex
female         1  38.0      1      0  71.2833        C    C     527.0
female         1  35.0      1      0  53.1000        S    C     480.0
male           0  54.0      0      0  51.8625        S    E     665.0
female         1  58.0      0      0  26.5500        S    C     682.0
male           1  28.0      0      0  35.5000        S    A     338.0
...          ...   ...    ...    ...      ...      ...  ...       ...
female         1  47.0      1      1  52.5542        S    D     617.0
male           0  33.0      0      0   5.0000        S    B     449.0
female         1  56.0      0      1  83.1583        C    C     676.0
female         1  19.0      0      0  30.0000        S    B     140.0
male           1  26.0      0      0  30.0000        C    C     302.0

[216 rows x 8 columns]

## for multipla index we can use tuple ( we need pclass 1 and femal)

In [47]:
titanic_v1.loc[(1, 'female')]

C:\Users\Darius\AppData\Local\Temp\ipykernel_10492\861147930.py:1: PerformanceWarning: indexing past lexsort depth may impact performance.
  titanic_v1.loc[(1, 'female')]

               survived   age  sibsp  parch      fare embarked deck  rank_age
pclass sex
1      female         1  38.0      1      0   71.2833        C    C     527.0
       female         1  35.0      1      0   53.1000        S    C     480.0
       female         1  58.0      0      0   26.5500        S    C     682.0
       female         1   NaN      1      0  146.5208        C    B       NaN
       female         1  49.0      1      0   76.7292        C    D     635.0
...                 ...   ...    ...    ...       ...      ...  ...       ...
       female         1  45.0      1      1  164.8667        S  NaN     600.0
       female         1  48.0      0      0   25.9292        S    D     626.0
       female         1  47.0      1      1   52.5542        S    D     617.0
       female         1  56.0      0      1   83.1583        C    C     676.0
       female         1  19.0      0      0   30.0000        S    B     140.0

[94 rows x 8 columns]

### slice(None) is used to select all the rows for the second index level

In [48]:
titanic_v1.loc[(slice(None), slice("female"))]

KeyError: 'female'

## we can use loc to select specific rows and columns
## first list is for rows , index set
## second list is for columns, columns selected

In [ ]:
titanic_v1.loc[[1,2], ['age', 'fare']]

# String Operations Intro/ Refresher

In [ ]:
summer = pd.read_csv('summer.csv')

In [49]:
summer.head()

NameError: name 'summer' is not defined

In [50]:
name = summer.loc[:9, 'Athlete'].copy()
name

NameError: name 'summer' is not defined

## Add str before the method name, because we need use method from string

In [51]:
name.str.lower()

NameError: name 'name' is not defined

## we can use method from string to replace some values

In [52]:
name.str.replace('HAJOS, Alfred', 'GIgel TEST')

NameError: name 'name' is not defined

## we can use method from string to split some values
## n=2 means that the string is split into 2 parts
## expand=True means that the split elements are expanded into separate columns

In [53]:
name.str.split(" ", n=2, expand=True)

NameError: name 'name' is not defined