# Comprehensive Project Challenge

## Summer Olympic Games, Medal Tables 1896-2012

### Welcome to the final coding challenge!

This challenge requires you to __apply__ and __combine__ many concepts and methods that you have learned in this course.

It is frequently used in job application processes / assessment centers in Data Science to check the candidates´ abilities to work with, manipulate and aggregate data. Also experienced Data Scientists have difficulties to solve the problem. And the reason for this is not that the challenge is coding-wise extremely complex. But it requires a combination of <br>
- __solid coding skills__, <br><br>
and, even more important <br><br>
   
- the ability to __interpret__ and __understand__ the __underlying data__ and to __incorporate inputs__ from subject matter __experts__ (in this case Sports experts) <br> <br>
__"Thinking in Data Structures!"__ -> requires some practise but also some talent.

### The Case

It´s your first day in a Data Science advisory firm and your boss asks you to produce the __official Summer Olympic Games Medal Tables for all Editions from 1896 to 2012__. <br><br>
All you can use is a dataset with raw data containing over 31,000 medals (__summer.csv__) and the official Medal Tables for the Editions 1996 and 1976 from Wikipedia. (__wik_1996.csv__, __wik_1976.csv__). Use the two official Medal Tables as a __reference__ to check whether your code produces the correct output! <br><br>
Your goal is to __minimize the divergence__ between your aggregated Medal Tables and the official Medal Tables. Let´s assume that the official number of Gold Medals for the United States in the Edition 1996 is 44 and your code produces 46. This is an absolute divergence of 2. <br> <br>
__Calculate the total absolute divergence for the Editions 1996 and 1976 (the "Score")!__ The __optimal Score is 0__!

### Naive approach

In [149]:
import pandas as pd
import numpy as np

In [2]:
summer = pd.read_csv("../summer.csv")

In [3]:
summer76 = summer.loc[summer.Year == 1976]

In [4]:
summer76.head()

,Year,City,Sport,Discipline,Athlete,Country,Gender,Event,Medal
13900,1976,Montreal,Aquatics,Diving,"ALEINIK, Vladimir",URS,Men,10M Platform,Bronze
13901,1976,Montreal,Aquatics,Diving,"DIBIASI, Klaus",ITA,Men,10M Platform,Gold
13902,1976,Montreal,Aquatics,Diving,"LOUGANIS, Gregory",USA,Men,10M Platform,Silver
13903,1976,Montreal,Aquatics,Diving,"WILSON, Deborah Keplar",USA,Women,10M Platform,Bronze
13904,1976,Montreal,Aquatics,Diving,"VAYTSEKHOVSKAYA, Elena",URS,Women,10M Platform,Gold

In [12]:
mt76 = summer76.groupby(["Country", "Medal"]).Medal.count().unstack(fill_value = 0)
mt76.head()

Medal    Bronze  Gold  Silver
Country
AUS           8     0      16
AUT           1     0       0
BEL           6     0       3
BER           1     0       0
BRA           3     0       0

In [6]:
mt76 = mt76.sort_values(["Gold", "Silver", "Bronze"], ascending = False)[["Gold", "Silver", "Bronze"]]  # sort the columns
mt76.head(10)

Medal    Gold  Silver  Bronze
Country
URS       113      93      79
GDR        99      51      42
USA        63      56      36
JPN        25       6      10
FRG        21      24      30
POL        18      29      26
NZL        17       1       9
HUN        14       6      35
SWE         9       1       0
BUL         8      13      18

In [8]:
pd.read_csv("../wik_1976.csv")

                Rank                        NOC  Gold  Silver  Bronze  Total
0                  1         Soviet Union (URS)    49      41      35    125
1                  2         East Germany (GDR)    40      25      25     90
2                  3        United States (USA)    34      35      25     94
3                  4         West Germany (FRG)    10      12      17     39
4                  5                Japan (JPN)     9       6      10     25
5                  6               Poland (POL)     7       6      13     26
6                  7             Bulgaria (BUL)     6       9       7     22
7                  8                 Cuba (CUB)     6       4       3     13
8                  9              Romania (ROU)     4       9      14     27
9                 10              Hungary (HUN)     4       5      13     22
10                11              Finland (FIN)     4       2       0      6
11                12               Sweden (SWE)     4       1       0      5
12                13        Great Britain (GBR)     3       5       5     13
13                14                Italy (ITA)     2       7       4     13
14                15               France (FRA)     2       3       4      9
15                16           Yugoslavia (YUG)     2       3       3      8
16                17       Czechoslovakia (TCH)     2       2       4      8
17                18          New Zealand (NZL)     2       1       1      4
18                19          South Korea (KOR)     1       1       4      6
19                20          Switzerland (SUI)     1       1       2      4
20                21              Jamaica (JAM)     1       1       0      2
21                21          North Korea (PRK)     1       1       0      2
22                21               Norway (NOR)     1       1       0      2
23                24              Denmark (DEN)     1       0       2      3
24                25               Mexico (MEX)     1       0       1      2
25                26  Trinidad and Tobago (TRI)     1       0       0      1
26                27              Canada (CAN)*     0       5       6     11
27                28              Belgium (BEL)     0       3       3      6
28                29          Netherlands (NED)     0       2       3      5
29                30             Portugal (POR)     0       2       0      2
30                30                Spain (ESP)     0       2       0      2
31                32            Australia (AUS)     0       1       4      5
32                33                 Iran (IRI)     0       1       1      2
33                34             Mongolia (MGL)     0       1       0      1
34                34            Venezuela (VEN)     0       1       0      1
35                36               Brazil (BRA)     0       0       2      2
36                37              Austria (AUT)     0       0       1      1
37                37              Bermuda (BER)     0       0       1      1
38                37             Pakistan (PAK)     0       0       1      1
39                37          Puerto Rico (PUR)     0       0       1      1
40                37             Thailand (THA)     0       0       1      1
41  Totals (41 NOCs)           Totals (41 NOCs)   198     199     216    613

-> __Far away from the target!!!__

#### Fortunately, you could manage to get some useful information from Sports experts: <br>

Medals awarded in __Team Events__ (one medal for each member of the team) only count as __one Medal__. For example, the Basketball Team of the United States won the Gold Medal in the Edition 2012. In total __12 Basketball Athletes__ from the United States were awarded with a Gold Medal. For the official Medal Table 2012, this only counts as __one Gold Medal__ for the United States!<br> <br>
All Events with __5 or less than 5 medals__ shall be deemed __Singles Events__. All Events with __more than 5 medals__ shall be deemed __Team Events__. It frequently happens that 2 or 3 Athletes share the Bronze medal. Therefore, in total 4 or 5 medals are awarded in these Singles Events. All of these medals count for the official Medal Table! It also happens in Team Events that two Teams share the Bronze medal. Also in this case, in total 4 medals count for the official Medal Table (1 Gold, 1 Silver, 2 Bronze).
<br><br>
To identify all unique Events, the __Event Gender matters__! There are __Men__ Events, __Women__ Events and __Mixed__ Events. Assume that the following medals have been awarded in __Mixed Events__:
- the Event is marked with "__mixed__" or "__pairs__"
- all "__Equestrian__" Events
- all "__Sailing__" Events __before 1988__ (until and including 1984)
- the following medals (index labels) were awarded in __Badminton mixed Double Events__: [21773, 21782, 21776, 21785, 21770, 21779, 23703, 23712, 23706, 23715, 23709, 23700, 25720, 25729, 25723, 25732, 25726, 25717, 27727, 27736, 27730, 27739, 27724, 27733, 29784, 29785, 29786, 29787, 29788, 29789]

## Now it´s your turn to get the official Medal Tables 1896-2012!

# STOP HERE, IF YOU WANT TO DO THE CHALLENGE ON YOUR OWN!

++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++

## Some Guidance and Hints

### Step 1: Getting Started

Inspect the three datasets and align wik_1996 and wik_1976 to the summer dataset! You will need this later when comparing your results with the official Medal Tables!

In [13]:
summer = pd.read_csv('../summer.csv')
wik_1996 = pd.read_csv('../wik_1996.csv')
wik_1976 = pd.read_csv('../wik_1976.csv')

In [96]:
summer[summer.isna().any(axis=1)]   # find missing values

,Year,City,Sport,Discipline,Athlete,Country,Gender,Event,Medal,Event_Gender
29603,2012,London,Athletics,Athletics,Pending,NaN,Women,1500M,Gold,Women
31072,2012,London,Weightlifting,Weightlifting,Pending,NaN,Women,63KG,Gold,Women
31091,2012,London,Weightlifting,Weightlifting,Pending,NaN,Men,94KG,Silver,Men
31110,2012,London,Wrestling,Wrestling Freestyle,"KUDUKHOV, Besik",NaN,Men,Wf 60 KG,Silver,Men

In [98]:
summer.dropna(inplace=True)     # delete missing values

Now we will compare summer with wik_1996 and wik_1976. We will check the amount of medals for each country in each dataset.

In [100]:
wik_1976

                Rank                        NOC  Gold  Silver  Bronze  Total
0                  1         Soviet Union (URS)    49      41      35    125
1                  2         East Germany (GDR)    40      25      25     90
2                  3        United States (USA)    34      35      25     94
3                  4         West Germany (FRG)    10      12      17     39
4                  5                Japan (JPN)     9       6      10     25
5                  6               Poland (POL)     7       6      13     26
6                  7             Bulgaria (BUL)     6       9       7     22
7                  8                 Cuba (CUB)     6       4       3     13
8                  9              Romania (ROU)     4       9      14     27
9                 10              Hungary (HUN)     4       5      13     22
10                11              Finland (FIN)     4       2       0      6
11                12               Sweden (SWE)     4       1       0      5
12                13        Great Britain (GBR)     3       5       5     13
13                14                Italy (ITA)     2       7       4     13
14                15               France (FRA)     2       3       4      9
15                16           Yugoslavia (YUG)     2       3       3      8
16                17       Czechoslovakia (TCH)     2       2       4      8
17                18          New Zealand (NZL)     2       1       1      4
18                19          South Korea (KOR)     1       1       4      6
19                20          Switzerland (SUI)     1       1       2      4
20                21              Jamaica (JAM)     1       1       0      2
21                21          North Korea (PRK)     1       1       0      2
22                21               Norway (NOR)     1       1       0      2
23                24              Denmark (DEN)     1       0       2      3
24                25               Mexico (MEX)     1       0       1      2
25                26  Trinidad and Tobago (TRI)     1       0       0      1
26                27              Canada (CAN)*     0       5       6     11
27                28              Belgium (BEL)     0       3       3      6
28                29          Netherlands (NED)     0       2       3      5
29                30             Portugal (POR)     0       2       0      2
30                30                Spain (ESP)     0       2       0      2
31                32            Australia (AUS)     0       1       4      5
32                33                 Iran (IRI)     0       1       1      2
33                34             Mongolia (MGL)     0       1       0      1
34                34            Venezuela (VEN)     0       1       0      1
35                36               Brazil (BRA)     0       0       2      2
36                37              Austria (AUT)     0       0       1      1
37                37              Bermuda (BER)     0       0       1      1
38                37             Pakistan (PAK)     0       0       1      1
39                37          Puerto Rico (PUR)     0       0       1      1
40                37             Thailand (THA)     0       0       1      1
41  Totals (41 NOCs)           Totals (41 NOCs)   198     199     216    613

In [108]:
wik_1976.NOC.str.split('(', expand=True).iloc[:, 1].str.replace(')', '').str.replace('*', '')   # extract the country names

0         URS
1         GDR
2         USA
3         FRG
4         JPN
5         POL
6         BUL
7         CUB
8         ROU
9         HUN
10        FIN
11        SWE
12        GBR
13        ITA
14        FRA
15        YUG
16        TCH
17        NZL
18        KOR
19        SUI
20        JAM
21        PRK
22        NOR
23        DEN
24        MEX
25        TRI
26        CAN
27        BEL
28        NED
29        POR
30        ESP
31        AUS
32        IRI
33        MGL
34        VEN
35        BRA
36        AUT
37        BER
38        PAK
39        PUR
40        THA
41    41 NOCs
Name: 1, dtype: object

In [111]:
wik_1976["Country"] = wik_1976.NOC.str.split('(', expand=True).iloc[:, 1].str.replace(')', '').str.replace('*', '')
wik_1976    # create a new column "Country" with the country names

,Rank,NOC,Gold,Silver,Bronze,Total,Country
0,1,Soviet Union (URS),49,41,35,125,URS
1,2,East Germany (GDR),40,25,25,90,GDR
2,3,United States (USA),34,35,25,94,USA
3,4,West Germany (FRG),10,12,17,39,FRG
4,5,Japan (JPN),9,6,10,25,JPN
5,6,Poland (POL),7,6,13,26,POL
6,7,Bulgaria (BUL),6,9,7,22,BUL
7,8,Cuba (CUB),6,4,3,13,CUB
8,9,Romania (ROU),4,9,14,27,ROU
9,10,Hungary (HUN),4,5,13,22,HUN
10,11,Finland (FIN),4,2,0,6,FIN
11,12,Sweden (SWE),4,1,0,5,SWE
12,13,Great Britain (GBR),3,5,5,13,GBR
13,14,Italy (ITA),2,7,4,13,ITA
14,15,France (FRA),2,3,4,9,FRA
15,16,Yugoslavia (YUG),2,3,3,8,YUG
16,17,Czechoslovakia (TCH),2,2,4,8,TCH
17,18,New Zealand (NZL),2,1,1,4,NZL
18,19,South Korea (KOR),1,1,4,6,KOR
19,20,Switzerland (SUI),1,1,2,4,SUI
20,21,Jamaica (JAM),1,1,0,2,JAM
21,21,North Korea (PRK),1,1,0,2,PRK
22,21,Norway (NOR),1,1,0,2,NOR
23,24,Denmark (DEN),1,0,2,3,DEN
24,25,Mexico (MEX),1,0,1,2,MEX
25,26,Trinidad and Tobago (TRI),1,0,0,1,TRI
26,27,Canada (CAN)*,0,5,6,11,CAN
27,28,Belgium (BEL),0,3,3,6,BEL
28,29,Netherlands (NED),0,2,3,5,NED
29,30,Portugal (POR),0,2,0,2,POR
30,30,Spain (ESP),0,2,0,2,ESP
31,32,Australia (AUS),0,1,4,5,AUS
32,33,Iran (IRI),0,1,1,2,IRI
33,34,Mongolia (MGL),0,1,0,1,MGL
34,34,Venezuela (VEN),0,1,0,1,VEN
35,36,Brazil (BRA),0,0,2,2,BRA
36,37,Austria (AUT),0,0,1,1,AUT
37,37,Bermuda (BER),0,0,1,1,BER
38,37,Pakistan (PAK),0,0,1,1,PAK
39,37,Puerto Rico (PUR),0,0,1,1,PUR
40,37,Thailand (THA),0,0,1,1,THA
41,Totals (41 NOCs),Totals (41 NOCs),198,199,216,613,41 NOCs

In [114]:
wik_1976 = wik_1976.drop(columns =["Rank", "NOC", "Total"]).set_index("Country")    # drop the columns because they are not needed

KeyError: "['Rank', 'NOC', 'Total'] not found in axis"

Same for wik_1996:

In [116]:
wik_1996["Country"] = wik_1996.Nation.str.split("(", expand= True).iloc[:, 1].str.replace(")", "").str.replace("*", "")

In [117]:
wik_1996 = wik_1996.drop(columns =["Rank", "Nation", "Total"]).set_index("Country")

Now we will compare the amount of medals for each country in the summer dataset with the official Medal Tables.

In [118]:
wik_1996

            Gold  Silver  Bronze
Country
USA           44      32      25
RUS           26      21      16
GER           20      18      27
CHN           16      22      12
FRA           15       7      15
...          ...     ...     ...
MOZ            0       0       1
PUR            0       0       1
TUN            0       0       1
UGA            0       0       1
79 nations   271     273     298

[80 rows x 3 columns]

In [119]:
wik_1976

         Gold  Silver  Bronze
Country
URS        49      41      35
GDR        40      25      25
USA        34      35      25
FRG        10      12      17
JPN         9       6      10
POL         7       6      13
BUL         6       9       7
CUB         6       4       3
ROU         4       9      14
HUN         4       5      13
FIN         4       2       0
SWE         4       1       0
GBR         3       5       5
ITA         2       7       4
FRA         2       3       4
YUG         2       3       3
TCH         2       2       4
NZL         2       1       1
KOR         1       1       4
SUI         1       1       2
JAM         1       1       0
PRK         1       1       0
NOR         1       1       0
DEN         1       0       2
MEX         1       0       1
TRI         1       0       0
CAN         0       5       6
BEL         0       3       3
NED         0       2       3
POR         0       2       0
ESP         0       2       0
AUS         0       1       4
IRI         0       1       1
MGL         0       1       0
VEN         0       1       0
BRA         0       0       2
AUT         0       0       1
BER         0       0       1
PAK         0       0       1
PUR         0       0       1
THA         0       0       1
41 NOCs   198     199     216

### Step 2: Creating the Column Event_Gender

In a first step, we need to determine for each row / medal, whether the medal was awarded in a Men, Women or Mixed Event. <br>
The default assumption: The values in the new column Event_Gender are the same as in the column Gender (this is the Gender of the respective Athlete). Then, we need to identify Mixed Gender Events (inputs from the experts!).

In [32]:
summer['Event_Gender'] = summer.Gender
summer

,Year,City,Sport,Discipline,Athlete,Country,Gender,Event,Medal,Event_Gender
0,1896,Athens,Aquatics,Swimming,"HAJOS, Alfred",HUN,Men,100M Freestyle,Gold,Men
1,1896,Athens,Aquatics,Swimming,"HERSCHMANN, Otto",AUT,Men,100M Freestyle,Silver,Men
2,1896,Athens,Aquatics,Swimming,"DRIVAS, Dimitrios",GRE,Men,100M Freestyle For Sailors,Bronze,Men
3,1896,Athens,Aquatics,Swimming,"MALOKINIS, Ioannis",GRE,Men,100M Freestyle For Sailors,Gold,Men
4,1896,Athens,Aquatics,Swimming,"CHASAPIS, Spiridon",GRE,Men,100M Freestyle For Sailors,Silver,Men
...,...,...,...,...,...,...,...,...,...,...
31160,2012,London,Wrestling,Wrestling Freestyle,"JANIKOWSKI, Damian",POL,Men,Wg 84 KG,Bronze,Men
31161,2012,London,Wrestling,Wrestling Freestyle,"REZAEI, Ghasem Gholamreza",IRI,Men,Wg 96 KG,Gold,Men
31162,2012,London,Wrestling,Wrestling Freestyle,"TOTROV, Rustam",RUS,Men,Wg 96 KG,Silver,Men
31163,2012,London,Wrestling,Wrestling Freestyle,"ALEKSANYAN, Artur",ARM,Men,Wg 96 KG,Bronze,Men
31164,2012,London,Wrestling,Wrestling Freestyle,"LIDBERG, Jimmy",SWE,Men,Wg 96 KG,Bronze,Men

1. The Event Column contains the string "mixed"
Method contains() returns a boolean Series showing whether each element in the Series contains the specified string.

In [129]:
summer.Event.str.lower().str.contains("mixed").sum()    # count the amount of mixed events

38

2. The Event Column contains the string "pairs"

In [130]:
summer.Event.str.lower().str.contains("pairs").sum()

12

3. The Event Column contains the string "equestrian"

In [132]:
summer.Sport.str.lower().str.contains("equestrian").sum()

939

4. All 'Sailing' Events before 1988 have been mixed Events

In [135]:
((summer.Sport.str.lower().str.contains("sailing")) & (summer.Year <= 1984)).sum()

755

In [136]:
mask1 = summer.Event.str.lower().str.contains("mixed")
mask2 = summer.Event.str.lower().str.contains("pairs")
mask3 = summer.Sport.str.lower().str.contains("equestrian")
mask4 = ((summer.Sport.str.lower().str.contains("sailing")) & (summer.Year < 1988))

summer.loc[mask1 | mask2 | mask3| mask4, "Event_Gender"] = "X"  # mark the mixed events with "X"

summer.Event_Gender.value_counts()

Event_Gender
Men      21227
Women     8190
X         1744
Name: count, dtype: int64

5. The following medals were awarded in Badminton mixed Double Events

In [138]:
badm_mixed = [21773, 21782, 21776,21785, 21770, 21779,23703,23712,23706, 23715,23709,23700,25720,25729,25723,25732,25726,
              25717,27727,27736, 27730,27739,27724,27733, 29784, 29785,29786,29787,29788,29789]

summer.loc[badm_mixed, "Event_Gender"] = "X"

### Step 3: Identify all unique Events and count the amount of medals in each Event (new column Event_Medals)

In [146]:
summer['Event_Medals'] = summer.groupby(by=['Year', 'Sport', 'Discipline', 'Event', 'Event_Gender']).Medal.transform('count')
summer.head()

,Year,City,Sport,Discipline,Athlete,Country,Gender,Event,Medal,Event_Gender,Event_Medals
0,1896,Athens,Aquatics,Swimming,"HAJOS, Alfred",HUN,Men,100M Freestyle,Gold,Men,2
1,1896,Athens,Aquatics,Swimming,"HERSCHMANN, Otto",AUT,Men,100M Freestyle,Silver,Men,2
2,1896,Athens,Aquatics,Swimming,"DRIVAS, Dimitrios",GRE,Men,100M Freestyle For Sailors,Bronze,Men,3
3,1896,Athens,Aquatics,Swimming,"MALOKINIS, Ioannis",GRE,Men,100M Freestyle For Sailors,Gold,Men,3
4,1896,Athens,Aquatics,Swimming,"CHASAPIS, Spiridon",GRE,Men,100M Freestyle For Sailors,Silver,Men,3

Hint: The Columns "Year", "Sport", "Discipline", "Event", "Event_Gender" are relevant to group the summer DataFrame into unique events.

In [147]:
summer.loc[summer.Event_Medals == 5]

,Year,City,Sport,Discipline,Athlete,Country,Gender,Event,Medal,Event_Gender,Event_Medals
1273,1908,London,Athletics,Athletics,"ARCHIBALD, Edward Blake",CAN,Men,Pole Vault,Bronze,Men,5
1274,1908,London,Athletics,Athletics,"JACOBS, Charles Sherman",USA,Men,Pole Vault,Bronze,Men,5
1275,1908,London,Athletics,Athletics,"SÖDERSTRÖM, Bruno",SWE,Men,Pole Vault,Bronze,Men,5
1276,1908,London,Athletics,Athletics,"COOKE, Edward Tiffin",USA,Men,Pole Vault,Gold,Men,5
1277,1908,London,Athletics,Athletics,"GILBERT, Alfred Carleten",USA,Men,Pole Vault,Gold,Men,5
7770,1948,London,Gymnastics,Artistic G.,"MOGYOROSI-KLENCS, Janos",HUN,Men,Vault,Bronze,Men,5
7771,1948,London,Gymnastics,Artistic G.,"PATAKI, Ferenc",HUN,Men,Vault,Bronze,Men,5
7772,1948,London,Gymnastics,Artistic G.,"SOTORNIK, Leo",TCH,Men,Vault,Bronze,Men,5
7773,1948,London,Gymnastics,Artistic G.,"AALTONEN, Paavo Johannes",FIN,Men,Vault,Gold,Men,5
7774,1948,London,Gymnastics,Artistic G.,"ROVE, Olavi Antero",FIN,Men,Vault,Silver,Men,5
15748,1980,Moscow,Equestrian,Eventing,PINTSET,URS,Men,Individual,Bronze,X,5
15749,1980,Moscow,Equestrian,Eventing,"SALNIKOV, Yuri",URS,Men,Individual,Bronze,X,5
15750,1980,Moscow,Equestrian,Eventing,"ROMAN, Federico Euro",ITA,Men,Individual,Gold,X,5
15751,1980,Moscow,Equestrian,Eventing,"BLINOV, Aleksandr",URS,Men,Individual,Silver,X,5
15752,1980,Moscow,Equestrian,Eventing,GALZUN,URS,Men,Individual,Silver,X,5
15976,1980,Moscow,Gymnastics,Artistic G.,"FILATOVA, Maria",URS,Women,Uneven Bars,Bronze,Women,5
15977,1980,Moscow,Gymnastics,Artistic G.,"KRÄKER, Steffi",GDR,Women,Uneven Bars,Bronze,Women,5
15978,1980,Moscow,Gymnastics,Artistic G.,"RÜHN, Melita",ROU,Women,Uneven Bars,Bronze,Women,5
15979,1980,Moscow,Gymnastics,Artistic G.,"GNAUCK, Maxi",GDR,Women,Uneven Bars,Gold,Women,5
15980,1980,Moscow,Gymnastics,Artistic G.,"EBERLE, Emilia",ROU,Women,Uneven Bars,Silver,Women,5
17419,1984,Los Angeles,Gymnastics,Artistic G.,"LOU, Yun",CHN,Men,Vault,Gold,Men,5
17420,1984,Los Angeles,Gymnastics,Artistic G.,"GAYLORD, Mitchell Jay",USA,Men,Vault,Silver,Men,5
17421,1984,Los Angeles,Gymnastics,Artistic G.,"GUSHIKEN, Koji",JPN,Men,Vault,Silver,Men,5
17422,1984,Los Angeles,Gymnastics,Artistic G.,"LI, Ning",CHN,Men,Vault,Silver,Men,5
17423,1984,Los Angeles,Gymnastics,Artistic G.,"MORISUE, Shinji",JPN,Men,Vault,Silver,Men,5
19989,1992,Barcelona,Athletics,Athletics,"CONWAY, Hollis",USA,Men,High Jump,Bronze,Men,5
19990,1992,Barcelona,Athletics,Athletics,"FORSYTH, Timothy",AUS,Men,High Jump,Bronze,Men,5
19991,1992,Barcelona,Athletics,Athletics,"PARTYKA, Artur",POL,Men,High Jump,Bronze,Men,5
19992,1992,Barcelona,Athletics,Athletics,"SOTOMAYOR, Javier",CUB,Men,High Jump,Gold,Men,5
19993,1992,Barcelona,Athletics,Athletics,"SJÖBERG, Patrick",SWE,Men,High Jump,Silver,Men,5
20525,1992,Barcelona,Gymnastics,Artistic G.,"BONTAS, Cristina",ROU,Women,Floor Exercises,Bronze,Women,5
20526,1992,Barcelona,Gymnastics,Artistic G.,"GOUTSOU, Tatiana",EUN,Women,Floor Exercises,Bronze,Women,5
20527,1992,Barcelona,Gymnastics,Artistic G.,"MILLER, Shannon",USA,Women,Floor Exercises,Bronze,Women,5
20528,1992,Barcelona,Gymnastics,Artistic G.,"MILOSOVICI, Lavinia Corina",ROU,Women,Floor Exercises,Gold,Women,5
20529,1992,Barcelona,Gymnastics,Artistic G.,"ONODI, Henrietta",HUN,Women,Floor Exercises,Silver,Women,5
20539,1992,Barcelona,Gymnastics,Artistic G.,"GUO, Linyao",CHN,Men,Parallel Bars,Bronze,Men,5
20540,1992,Barcelona,Gymnastics,Artistic G.,"KOROBCHINSKI, Igor",EUN,Men,Parallel Bars,Bronze,Men,5
20541,1992,Barcelona,Gymnastics,Artistic G.,"MATSUNAGA, Masayuki",JPN,Men,Parallel Bars,Bronze,Men,5
20542,1992,Barcelona,Gymnastics,Artistic G.,"SCHERBO, Vitaly",EUN,Men,Parallel Bars,Gold,Men,5
20543,1992,Barcelona,Gymnastics,Artistic G.,"LI, Jing",CHN,Men,Parallel Bars,Silver,Men,5
22326,1996,Atlanta,Gymnastics,Artistic G.,"FAN, Bin",CHN,Men,Horizontal Bar,Bronze,Men,5
22327,1996,Atlanta,Gymnastics,Artistic G.,"NEMOV, Alexei",RUS,Men,Horizontal Bar,Bronze,Men,5
22328,1996,Atlanta,Gymnastics,Artistic G.,"SCHERBO, Vitaly",BLR,Men,Horizontal Bar,Bronze,Men,5
22329,1996,Atlanta,Gymnastics,Artistic G.,"WECKER, Andreas",GER,Men,Horizontal Bar,Gold,Men,5
22330,1996,Atlanta,Gymnastics,Artistic G.,"DOUNEV, Krassimir Nikolaev",BUL,Men,Horizontal Bar,Silver,Men,5
29728,2012,London,Athletics,Athletics,"UKHOV, Ivan",RUS,Men,High Jump,Gold,Men,5
29729,2012,London,Athletics,Athletics,"KYNARD, Erik",USA,Men,High Jump,Silver,Men,5
29730,2012,London,Athletics,Athletics,"BARSHIM, Mutaz Essa",QAT,Men,High Jump,Bronze,Men,5
29731,2012,London,Athletics,Athletics,"DROUIN, Derek",CAN,Men,High Jump,Bronze,Men,5
29732,2012,London,Athletics,Athletics,"GRABARZ, Robert",GBR,Men,High Jump,Bronze,Men,5

### Step 4: Identifying Team Events

All medals / rows, that were awarded in Events with more than 5 medals, shall be deemed Team Event Medals. (new column "Team")

In [150]:
summer["Team"] = pd.Series(np.where(summer.Event_Medals > 5, "Yes", "No"))

In [152]:
summer.head()

,Year,City,Sport,Discipline,Athlete,Country,Gender,Event,Medal,Event_Gender,Event_Medals,Team
0,1896,Athens,Aquatics,Swimming,"HAJOS, Alfred",HUN,Men,100M Freestyle,Gold,Men,2,No
1,1896,Athens,Aquatics,Swimming,"HERSCHMANN, Otto",AUT,Men,100M Freestyle,Silver,Men,2,No
2,1896,Athens,Aquatics,Swimming,"DRIVAS, Dimitrios",GRE,Men,100M Freestyle For Sailors,Bronze,Men,3,No
3,1896,Athens,Aquatics,Swimming,"MALOKINIS, Ioannis",GRE,Men,100M Freestyle For Sailors,Gold,Men,3,No
4,1896,Athens,Aquatics,Swimming,"CHASAPIS, Spiridon",GRE,Men,100M Freestyle For Sailors,Silver,Men,3,No

In [154]:
summer.Team.value_counts()

Team
Yes    20140
No     11017
Name: count, dtype: int64

### Step 5: Removing Duplicated Medals in Team Events

In [155]:
summer.reset_index(inplace=True)
singles = summer.loc[summer.Team == "No"].copy()
singles.shape

(11017, 13)

In [156]:
team = summer.loc[summer.Team == "Yes"].copy()
team.shape

(20140, 13)

In [158]:
team.drop_duplicates(subset = ["Year", "Sport", "Discipline", "Country", "Event", "Event_Gender", "Medal"], inplace = True)
team.shape

(3701, 13)

In [161]:
pd.concat([singles, team]).shape
summer_new = pd.concat([singles, team])
summer_new.set_index("index", inplace= True)

In [163]:
summer_new.head()

,Year,City,Sport,Discipline,Athlete,Country,Gender,Event,Medal,Event_Gender,Event_Medals,Team
index,,,,,,,,,,,,
0,1896,Athens,Aquatics,Swimming,"HAJOS, Alfred",HUN,Men,100M Freestyle,Gold,Men,2,No
1,1896,Athens,Aquatics,Swimming,"HERSCHMANN, Otto",AUT,Men,100M Freestyle,Silver,Men,2,No
2,1896,Athens,Aquatics,Swimming,"DRIVAS, Dimitrios",GRE,Men,100M Freestyle For Sailors,Bronze,Men,3,No
3,1896,Athens,Aquatics,Swimming,"MALOKINIS, Ioannis",GRE,Men,100M Freestyle For Sailors,Gold,Men,3,No
4,1896,Athens,Aquatics,Swimming,"CHASAPIS, Spiridon",GRE,Men,100M Freestyle For Sailors,Silver,Men,3,No

In [162]:
summer_new.info()

<class 'pandas.core.frame.DataFrame'>
Index: 14718 entries, 0 to 31036
Data columns (total 12 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   Year          14718 non-null  int64
 1   City          14718 non-null  object
 2   Sport         14718 non-null  object
 3   Discipline    14718 non-null  object
 4   Athlete       14718 non-null  object
 5   Country       14718 non-null  object
 6   Gender        14718 non-null  object
 7   Event         14718 non-null  object
 8   Medal         14718 non-null  object
 9   Event_Gender  14718 non-null  object
 10  Event_Medals  14718 non-null  int64
 11  Team          14718 non-null  object
dtypes: int64(2), object(10)
memory usage: 1.5+ MB

The subset for determining Duplicates shall be formed by the Columns "Year", "Sport", "Discipline", "Country", "Event", "Event_Gender", "Medal". Keep one Medal!

### Step 6: Creating the official Medal Table for all Editions

In [164]:
medal_tables = summer_new.groupby(["Year", "Country", "Medal"]).Medal.count().unstack(fill_value = 0)[["Gold", "Silver", "Bronze"]]
medal_tables

Medal         Gold  Silver  Bronze
Year Country
1896 AUS         2       0       0
     AUT         2       1       2
     DEN         1       2       3
     FRA         5       4       2
     GBR         2       3       2
...            ...     ...     ...
2012 UGA         1       0       0
     UKR         6       4       9
     USA        46      28      32
     UZB         1       0       2
     VEN         1       0       0

[1157 rows x 3 columns]

### Step 7: Comparison with Wikipedia Medal Tables

In [165]:
agg_1976 = medal_tables.loc[1976].sort_values(["Gold", "Silver", "Bronze"], ascending = False).copy()

Compare the aggregated Medal Table for the Edition 1976 with the official Medal Table from Wikipedia (wik_1976). Calculate the absolute divergence for the Edition 1976!

In [166]:
agg_1976.head()

Medal    Gold  Silver  Bronze
Country
URS        49      41      35
GDR        40      25      25
USA        34      35      25
FRG        10      12      17
JPN         9       6      10

In [167]:
wik_1976.head()

         Gold  Silver  Bronze
Country
URS        49      41      35
GDR        40      25      25
USA        34      35      25
FRG        10      12      17
JPN         9       6      10

In [168]:
div_76 = agg_1976.sub(wik_1976).abs().dropna()
div_76

Medal    Gold  Silver  Bronze
Country
AUS       0.0     0.0     0.0
AUT       0.0     0.0     0.0
BEL       0.0     0.0     0.0
BER       0.0     0.0     0.0
BRA       0.0     0.0     0.0
BUL       0.0     0.0     0.0
CAN       0.0     0.0     0.0
CUB       0.0     0.0     0.0
DEN       0.0     0.0     0.0
ESP       0.0     0.0     0.0
FIN       0.0     0.0     0.0
FRA       0.0     0.0     0.0
FRG       0.0     0.0     0.0
GBR       0.0     0.0     0.0
GDR       0.0     0.0     0.0
HUN       0.0     0.0     0.0
IRI       0.0     0.0     0.0
ITA       0.0     0.0     0.0
JAM       0.0     0.0     0.0
JPN       0.0     0.0     0.0
KOR       0.0     0.0     0.0
MEX       0.0     0.0     0.0
MGL       0.0     0.0     0.0
NED       0.0     0.0     0.0
NOR       0.0     0.0     0.0
NZL       0.0     0.0     0.0
PAK       0.0     0.0     0.0
POL       0.0     0.0     0.0
POR       0.0     0.0     0.0
PRK       0.0     0.0     0.0
PUR       0.0     0.0     0.0
ROU       0.0     0.0     0.0
SUI       0.0     0.0     0.0
SWE       0.0     0.0     0.0
TCH       0.0     0.0     0.0
THA       0.0     0.0     0.0
TRI       0.0     0.0     0.0
URS       0.0     0.0     0.0
USA       0.0     0.0     0.0
VEN       0.0     0.0     0.0
YUG       0.0     0.0     0.0

0.0 means the code have 100% accuracy. The lower the score, the better the code.

In [169]:
score_76 = div_76.sum().sum()   # calculate the total absolute divergence for the Edition 1976
score_76

0.0

In [173]:
agg_1996 = medal_tables.loc[1996].sort_values(["Gold", "Silver", "Bronze"], ascending = False).copy()

Compare the aggregated Medal Table for the Edition 1996 with the official Medal Table from Wikipedia (wik_1996). Calculate the absolute divergence for the Edition 1996!

In [174]:
agg_1996.head()

Medal    Gold  Silver  Bronze
Country
USA        44      32      25
RUS        26      21      16
GER        20      18      27
CHN        16      22      12
FRA        15       7      15

In [175]:
wik_1996.head()

         Gold  Silver  Bronze
Country
USA        44      32      25
RUS        26      21      16
GER        20      18      27
CHN        16      22      12
FRA        15       7      15

In [176]:
div_96 = agg_1996.sub(wik_1996).abs().dropna()
div_96

Medal    Gold  Silver  Bronze
Country
ALG       0.0     0.0     0.0
ARG       0.0     0.0     0.0
ARM       0.0     0.0     0.0
AUS       0.0     0.0     0.0
AUT       0.0     0.0     0.0
...       ...     ...     ...
UKR       0.0     0.0     0.0
USA       0.0     0.0     0.0
UZB       0.0     0.0     0.0
YUG       0.0     0.0     0.0
ZAM       0.0     0.0     0.0

[79 rows x 3 columns]

In [177]:
score_96 = div_96.sum().sum()
score_96

0.0

In [178]:
print(score_76, score_96)

0.0 0.0