In [1]:
import pandas as pd

In [2]:
titanic = pd.read_csv('../Data/titanic.csv')

In [5]:
titanic

     survived  pclass     sex   age  sibsp  parch     fare embarked deck
0           0       3    male  22.0      1      0   7.2500        S  NaN
1           1       1  female  38.0      1      0  71.2833        C    C
2           1       3  female  26.0      0      0   7.9250        S  NaN
3           1       1  female  35.0      1      0  53.1000        S    C
4           0       3    male  35.0      0      0   8.0500        S  NaN
..        ...     ...     ...   ...    ...    ...      ...      ...  ...
886         0       2    male  27.0      0      0  13.0000        S  NaN
887         1       1  female  19.0      0      0  30.0000        S    B
888         0       3  female   NaN      1      2  23.4500        S  NaN
889         1       1    male  26.0      0      0  30.0000        C    C
890         0       3    male  32.0      0      0   7.7500        Q  NaN

[891 rows x 9 columns]

# One Hot Encoding
## One Hot Encoding is a process in the data processing where categorical variables are converted into a form that could be provided to ML algorithms to do a better job in prediction.
## get_dummies() is a function in pandas that is used to convert categorical variables into dummy/indicator variables.

In [3]:
titanic_dumies = pd.get_dummies(titanic)

In [4]:
titanic_dumies

,survived,pclass,age,sibsp,parch,fare,sex_female,sex_male,embarked_C,embarked_Q,embarked_S,deck_A,deck_B,deck_C,deck_D,deck_E,deck_F,deck_G
0,0,3,22.0,1,0,7.2500,False,True,False,False,True,False,False,False,False,False,False,False
1,1,1,38.0,1,0,71.2833,True,False,True,False,False,False,False,True,False,False,False,False
2,1,3,26.0,0,0,7.9250,True,False,False,False,True,False,False,False,False,False,False,False
3,1,1,35.0,1,0,53.1000,True,False,False,False,True,False,False,True,False,False,False,False
4,0,3,35.0,0,0,8.0500,False,True,False,False,True,False,False,False,False,False,False,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
886,0,2,27.0,0,0,13.0000,False,True,False,False,True,False,False,False,False,False,False,False
887,1,1,19.0,0,0,30.0000,True,False,False,False,True,False,True,False,False,False,False,False
888,0,3,NaN,1,2,23.4500,True,False,False,False,True,False,False,False,False,False,False,False
889,1,1,26.0,0,0,30.0000,False,True,True,False,False,False,False,True,False,False,False,False
890,0,3,32.0,0,0,7.7500,False,True,False,True,False,False,False,False,False,False,False,False

In [6]:
house = pd.read_csv('../housing.csv')

In [7]:
label = house.median_house_value

In [8]:
label

0        452600.0
1        358500.0
2        352100.0
3        341300.0
4        342200.0
           ...
20635     78100.0
20636     77100.0
20637     92300.0
20638     84700.0
20639     89400.0
Name: median_house_value, Length: 20640, dtype: float64