# Coding Exercises (Part 1)

Now, you will have the opportunity to analyze your own dataset. <br>
__Follow the instructions__ and insert your code! You are either requested to 
- Complete the Code and __Fill in the gaps__. Gaps are marked with "__---__" and are __placeholders__ for your code fragment. 
- Write Code completely __on your own__

In some exercises, you will find questions that can only be answered, if your code is correct and returns the right output! The correct answer is provided below your coding cell. There you can check whether your code is correct

If you need a hint, check the __Hints Section__ at the end of this Notebook. Exercises and Hints are numerated accordingly.

If you need some further help or if you want to check your code, you can also watch the __solutions videos__ or check the __solutions notebook__.

### Have Fun!

--------------------------------------------------------------------------------------------------------------

## Pandas Index Objects

### Exercise 4: Index Operations

In [1]:
#run the cell!
import pandas as pd

In [2]:
#run the cell!
cars = pd.read_csv("../../Data/cars.csv")

In [6]:
#run the cell!
cars

,mpg,cylinders,displacement,horsepower,weight,acceleration,model_year,origin,name
0,18.0,8,307.0,130.0,3504,12.0,70,usa,chevrolet chevelle malibu
1,15.0,8,350.0,165.0,3693,11.5,70,usa,buick skylark 320
2,18.0,8,318.0,150.0,3436,11.0,70,usa,plymouth satellite
3,16.0,8,304.0,150.0,3433,12.0,70,usa,amc rebel sst
4,17.0,8,302.0,140.0,3449,10.5,70,usa,ford torino
...,...,...,...,...,...,...,...,...,...
393,27.0,4,140.0,86.0,2790,15.6,82,usa,ford mustang gl
394,44.0,4,97.0,52.0,2130,24.6,82,europe,vw pickup
395,32.0,4,135.0,84.0,2295,11.6,82,usa,dodge rampage
396,28.0,4,120.0,79.0,2625,18.6,82,usa,ford ranger
397,31.0,4,119.0,82.0,2720,19.4,82,usa,chevrolet s-10

In [7]:
#run the cell!
cars.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 398 entries, 0 to 397
Data columns (total 9 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   mpg           398 non-null    float64
 1   cylinders     398 non-null    int64
 2   displacement  398 non-null    float64
 3   horsepower    392 non-null    float64
 4   weight        398 non-null    int64
 5   acceleration  398 non-null    float64
 6   model_year    398 non-null    int64
 7   origin        398 non-null    object
 8   name          398 non-null    object
dtypes: float64(4), int64(3), object(2)
memory usage: 28.1+ KB

32. __Select__ the __index__ (row labels) of the DataFrame __cars__! What __kind of index__ do we have?

In [8]:
cars.index

RangeIndex(start=0, stop=398, step=1)

It´s a ... RangeIndex!

33. __Set__ the __"name"__ column as the __new index__ of cars (save the changes)!

In [14]:
cars.set_index("name", inplace=True)

34. __Check__ whether the new index contains __only unique values__ (no duplicates)! Is this the case?

In [42]:
cars.index.is_unique

True

No, apparently, there are duplicate entries!

35. __Get__ the __frequency/Counts__ of all unique values in the index! What is the __most frequent__ value?

In [41]:
cars.index.value_counts()

0      1
273    1
271    1
270    1
269    1
      ..
130    1
129    1
128    1
127    1
397    1
Name: count, Length: 398, dtype: int64

The most frequent value is ... ford pinto!

36. __Set__ the __name__ of the index to __"car_model"__!

In [29]:
cars.index.name = "car_model"

In [43]:
#run the cell!
cars.head()

,car_model,mpg,cylinders,displacement,hp,weight,acceleration,model_year,op
0,chevrolet chevelle malibu,18.0,8,307.0,130.0,3504,12.0,70,usa
1,buick skylark 320,15.0,8,350.0,165.0,3693,11.5,70,usa
2,plymouth satellite,18.0,8,318.0,150.0,3436,11.0,70,usa
3,amc rebel sst,16.0,8,304.0,150.0,3433,12.0,70,usa
4,ford torino,17.0,8,302.0,140.0,3449,10.5,70,usa

37. __Reset__ the __index__ to a RangeIndex and __save__ the change!

In [31]:
cars.reset_index(inplace=True)

In [44]:
#run the cell!
cars.head()

,car_model,mpg,cylinders,displacement,hp,weight,acceleration,model_year,op
0,chevrolet chevelle malibu,18.0,8,307.0,130.0,3504,12.0,70,usa
1,buick skylark 320,15.0,8,350.0,165.0,3693,11.5,70,usa
2,plymouth satellite,18.0,8,318.0,150.0,3436,11.0,70,usa
3,amc rebel sst,16.0,8,304.0,150.0,3433,12.0,70,usa
4,ford torino,17.0,8,302.0,140.0,3449,10.5,70,usa

38. __Inspect__ the __column Index__!

In [33]:
cars.columns

Index(['car_model', 'mpg', 'cylinders', 'displacement', 'horsepower', 'weight',
       'acceleration', 'model_year', 'origin'],
      dtype='object')

39. __Rename__ the column __Labels__ "horsepower" and "origin" to "hp" and "country"! __Fill in  the gaps__!

In [35]:
cars.rename(columns={'horsepower':'hp', 'origin':"op"}, inplace=True)

In [45]:
#run the cell!
cars.head()

,car_model,mpg,cylinders,displacement,hp,weight,acceleration,model_year,op
0,chevrolet chevelle malibu,18.0,8,307.0,130.0,3504,12.0,70,usa
1,buick skylark 320,15.0,8,350.0,165.0,3693,11.5,70,usa
2,plymouth satellite,18.0,8,318.0,150.0,3436,11.0,70,usa
3,amc rebel sst,16.0,8,304.0,150.0,3433,12.0,70,usa
4,ford torino,17.0,8,302.0,140.0,3449,10.5,70,usa

# Well Done!

------------------------------------------------------------

# Hints (Spoiler!)

32. index attribute

33. set_index() method; inplace parameter

34. call is_unique attribute on index

35. call value_counts() method on index

36. cars.index.---  =  "car_model"

37. reset_index() method; inplace parameter

38. columns attribute

39. rename() method; columns parameter