In [2]:
import pandas as pd

In [8]:
men2004 = pd.read_csv('men2004.csv')

In [9]:
men2008 = pd.read_csv('men2008.csv')

In [5]:
len(men2004) + len(men2008)

121

# Merge method in pandas
## For merging two dataframes, we need to data existing in both dataframes.
## For example, we can merge the two dataframes on the basis of the athlete name.(Athlete wins in 2004 and 2008)
Parameter: 
### on = The column name on which we want to merge the dataframes. (means the column name which is common in both dataframes)
### how = The type of merge we want to perform. (inner, outer, left, right)
- inner: It will merge the dataframes on the basis of the common data in both dataframes.
- outer: It will merge the dataframes on the basis of all the data in both dataframes.
- left: It will merge the dataframes on the basis of the data in the left dataframe.
- right: It will merge the dataframes on the basis of the data in the right dataframe.
### suffixes = The suffixes we want to add to the column names of the dataframes. (If the column names are same in both dataframes)
### indicator = It will add a column to the merged dataframe to indicate the source of the data. (from which dataframe the data is coming)

In [16]:
men0408 = men2004.merge(men2008, on='Athlete', how='outer', suffixes=('_2004', '_2008'), indicator=True)

In [17]:
men0408

                 Athlete  Medals_2004  Medals_2008      _merge
0         ADRIAN, Nathan          NaN          1.0  right_only
1          BERENS, Ricky          NaN          1.0  right_only
2         BERNARD, Alain          NaN          3.0  right_only
3    BOUSQUET, Frederick          NaN          1.0  right_only
4         BOVELL, George          1.0          NaN   left_only
..                   ...          ...          ...         ...
100       WOODWARD, Gabe          1.0          NaN   left_only
101    YAMAMOTO, Takashi          2.0          NaN   left_only
102       ZASTROW, Mitja          1.0          NaN   left_only
103           ZHANG, Lin          NaN          1.0  right_only
104  ZWERING, Klaas-Erik          1.0          NaN   left_only

[105 rows x 4 columns]

#### The indicator column is showing the source of the data.
#### 46 rows are coming from right dataframe
#### 43 rows are coming from left dataframe
#### 16 rows are coming from both dataframes

In [19]:
men0408._merge.value_counts()

_merge
right_only    46
left_only     43
both          16
Name: count, dtype: int64