In [1]:
import pandas as pd

In [2]:
men2004 = pd.read_csv('men2004.csv')

In [3]:
men2008 = pd.read_csv('men2008.csv')

In [4]:
len(men2004) + len(men2008)

121

# Merge method in pandas
## For merging two dataframes, we need to data existing in both dataframes.
## For example, we can merge the two dataframes on the basis of the athlete name.(Athlete wins in 2004 and 2008)
Parameter: 
### on = The column name on which we want to merge the dataframes. (means the column name which is common in both dataframes)
### how = The type of merge we want to perform. (inner, outer, left, right)
- inner: It will merge the dataframes on the basis of the common data in both dataframes.
- outer: It will merge the dataframes on the basis of all the data in both dataframes.
- left: It will merge the dataframes on the basis of the data in the left dataframe.
- right: It will merge the dataframes on the basis of the data in the right dataframe.
### suffixes = The suffixes we want to add to the column names of the dataframes. (If the column names are same in both dataframes)
### indicator = It will add a column to the merged dataframe to indicate the source of the data. (from which dataframe the data is coming)

# - Outer Join
## It will merge the dataframes on the basis of all the data in both dataframes.
## Include all the data from

In [5]:
men0408 = men2004.merge(men2008, on='Athlete', how='outer', suffixes=('_2004', '_2008'), indicator=True)

In [6]:
men0408

                 Athlete  Medals_2004  Medals_2008      _merge
0         ADRIAN, Nathan          NaN          1.0  right_only
1          BERENS, Ricky          NaN          1.0  right_only
2         BERNARD, Alain          NaN          3.0  right_only
3    BOUSQUET, Frederick          NaN          1.0  right_only
4         BOVELL, George          1.0          NaN   left_only
..                   ...          ...          ...         ...
100       WOODWARD, Gabe          1.0          NaN   left_only
101    YAMAMOTO, Takashi          2.0          NaN   left_only
102       ZASTROW, Mitja          1.0          NaN   left_only
103           ZHANG, Lin          NaN          1.0  right_only
104  ZWERING, Klaas-Erik          1.0          NaN   left_only

[105 rows x 4 columns]

#### The indicator column is showing the source of the data.
#### 46 rows are coming from right dataframe
#### 43 rows are coming from left dataframe
#### 16 rows are coming from both dataframes

In [7]:
men0408._merge.value_counts()

_merge
right_only    46
left_only     43
both          16
Name: count, dtype: int64

# - Outer Join without intersection
## It will merge the dataframes on All Athletes , who were succesful in only one Edition !!! NOT IN BOTH !!!
## Exclude the intersection of the dataframes.

In [25]:
men0408 = men2004.merge(men2008, on='Athlete', how='outer', suffixes=('_2004', '_2008'), indicator=True)

- Filter the data for obtaining the athletes who were successful in only one edition(Outer Join without intersection). Exclude 'both' -> intersection

In [15]:
men0408.loc[men0408._merge != 'both']

                 Athlete  Medals_2004  Medals_2008      _merge
0         ADRIAN, Nathan          NaN          1.0  right_only
1          BERENS, Ricky          NaN          1.0  right_only
2         BERNARD, Alain          NaN          3.0  right_only
3    BOUSQUET, Frederick          NaN          1.0  right_only
4         BOVELL, George          1.0          NaN   left_only
..                   ...          ...          ...         ...
100       WOODWARD, Gabe          1.0          NaN   left_only
101    YAMAMOTO, Takashi          2.0          NaN   left_only
102       ZASTROW, Mitja          1.0          NaN   left_only
103           ZHANG, Lin          NaN          1.0  right_only
104  ZWERING, Klaas-Erik          1.0          NaN   left_only

[89 rows x 4 columns]

# - Inner Join
## It will merge the dataframes on the basis of the common data in both dataframes.
## Include the intersection of the dataframes.

In [9]:
men2004.merge(men2008, on='Athlete', how='inner', suffixes=('_2004', '_2008'), indicator=True)

              Athlete  Medals_2004  Medals_2008 _merge
0     PHELPS, Michael            8            8   both
1      PEIRSOL, Aaron            3            3   both
2        CROCKER, Ian            3            1   both
3    KITAJIMA, Kosuke            3            3   both
4     HANSEN, Brendan            3            1   both
5      HACKETT, Grant            3            2   both
6        LEZAK, Jason            2            3   both
7       KELLER, Klete            2            1   both
8        LOCHTE, Ryan            2            4   both
9         VENDT, Erik            1            1   both
10  VANDERKAAY, Peter            1            2   both
11       CSEH, Laszlo            1            3   both
12      DAVIES, David            1            1   both
13    DUBOSCQ, Hugues            1            2   both
14     GANGLOFF, Mark            1            1   both
15     JENSEN, Larsen            1            1   both

# - Left Join
## It will merge the dataframes on the basis of the data in the left dataframe and intersection.
## All Athlete, who were successful in Edition 2004(incl. 2008 Medals, Athlete who were successful in both Edition)

In [29]:
men_left = men2004.merge(men2008, on='Athlete', how='left', suffixes=('_2004', '_2008'), indicator=True)

In [30]:
men_left

                       Athlete  Medals_2004  Medals_2008     _merge
0              PHELPS, Michael            8          8.0       both
1                  THORPE, Ian            4          NaN  left_only
2             SCHOEMAN, Roland            3          NaN  left_only
3               PEIRSOL, Aaron            3          3.0       both
4                 CROCKER, Ian            3          1.0       both
5             KITAJIMA, Kosuke            3          3.0       both
6              HANSEN, Brendan            3          1.0       both
7   VAN DEN HOOGENBAND, Pieter            3          NaN  left_only
8               HACKETT, Grant            3          2.0       both
9               MORITA, Tomomi            2          NaN  left_only
10                LEZAK, Jason            2          3.0       both
11               ROGAN, Markus            2          NaN  left_only
12               KELLER, Klete            2          1.0       both
13              HALL, Gary Jr.            2          NaN  left_only
14                LOCHTE, Ryan            2          4.0       both
15                WALKER, Neil            2          NaN  left_only
16           YAMAMOTO, Takashi            2          NaN  left_only
17          SPRENGER, Nicholas            1          NaN  left_only
18          OKUMURA, Yoshihiro            1          NaN  left_only
19              PARRY, Stephen            1          NaN  left_only
20               PEARSON, Todd            1          NaN  left_only
21              ZASTROW, Mitja            1          NaN  left_only
22          PELLICIARI, Matteo            1          NaN  left_only
23              WOODWARD, Gabe            1          NaN  left_only
24            SERDINOV, Andriy            1          NaN  left_only
25                 VENDT, Erik            1          1.0       both
26      ROSOLINO, Massimiliano            1          NaN  left_only
27        VEENS, Mark Hermanus            1          NaN  left_only
28            RUPPRATH, Thomas            1          NaN  left_only
29           VANDERKAAY, Peter            1          2.0       both
30            TOWNSEND, Darian            1          NaN  left_only
31              STEVENS, Craig            1          NaN  left_only
32              NEETHLING, Ryk            1          NaN  left_only
33              BOVELL, George            1          NaN  left_only
34                MEEUW, Helge            1          NaN  left_only
35        FLOREA, Razvan Ionut            1          NaN  left_only
36       CAPPELLAZZO, Federico            1          NaN  left_only
37             CERCATO, Simone            1          NaN  left_only
38                CONRAD, Lars            1          NaN  left_only
39                CSEH, Laszlo            1          3.0       both
40               DAVIES, David            1          1.0       both
41              DRAGANJA, Duje            1          NaN  left_only
42            DRIESEN, Steffen            1          NaN  left_only
43             DUBOSCQ, Hugues            1          2.0       both
44                DUSING, Nate            1          NaN  left_only
45               FERNS, Lyndon            1          NaN  left_only
46              GANGLOFF, Mark            1          1.0       both
47           MATKOVICH, Antony            1          NaN  left_only
48            GOLDBLATT, Scott            1          NaN  left_only
49              GYURTA, Daniel            1          NaN  left_only
50              JENSEN, Larsen            1          1.0       both
51             KENKHUIS, Johan            1          NaN  left_only
52                KETCHUM, Dan            1          NaN  left_only
53               KLIM, Michael            1          NaN  left_only
54          KRAYZELBURG, Lenny            1          NaN  left_only
55                KRUPPA, Jens            1          NaN  left_only
56         BREMBILLA, Emiliano            1          NaN  left_only
57            MAGNINI, Filippo            1          NaN  left_only
58         ZWERING, Klaas-Erik            1          NaN  left_only

# - Left Join without intersection
## It will merge the dataframes on the basis of the data in the left dataframe.
## All Athlete, who were successful only in Edition 2004
### Exclude the intersection and right side data

- Filter the data for obtaining the athletes who were successful in only one edition(Left Join without intersection and right size).

In [20]:
men0408.loc[men0408._merge == 'left_only']

                       Athlete  Medals     _merge
1                  THORPE, Ian       4  left_only
2             SCHOEMAN, Roland       3  left_only
4                 CROCKER, Ian       3  left_only
6              HANSEN, Brendan       3  left_only
7   VAN DEN HOOGENBAND, Pieter       3  left_only
8               HACKETT, Grant       3  left_only
9               MORITA, Tomomi       2  left_only
10                LEZAK, Jason       2  left_only
11               ROGAN, Markus       2  left_only
12               KELLER, Klete       2  left_only
13              HALL, Gary Jr.       2  left_only
14                LOCHTE, Ryan       2  left_only
15                WALKER, Neil       2  left_only
16           YAMAMOTO, Takashi       2  left_only
17          SPRENGER, Nicholas       1  left_only
18          OKUMURA, Yoshihiro       1  left_only
19              PARRY, Stephen       1  left_only
20               PEARSON, Todd       1  left_only
21              ZASTROW, Mitja       1  left_only
22          PELLICIARI, Matteo       1  left_only
23              WOODWARD, Gabe       1  left_only
24            SERDINOV, Andriy       1  left_only
26      ROSOLINO, Massimiliano       1  left_only
27        VEENS, Mark Hermanus       1  left_only
28            RUPPRATH, Thomas       1  left_only
29           VANDERKAAY, Peter       1  left_only
30            TOWNSEND, Darian       1  left_only
31              STEVENS, Craig       1  left_only
32              NEETHLING, Ryk       1  left_only
33              BOVELL, George       1  left_only
34                MEEUW, Helge       1  left_only
35        FLOREA, Razvan Ionut       1  left_only
36       CAPPELLAZZO, Federico       1  left_only
37             CERCATO, Simone       1  left_only
38                CONRAD, Lars       1  left_only
39                CSEH, Laszlo       1  left_only
41              DRAGANJA, Duje       1  left_only
42            DRIESEN, Steffen       1  left_only
43             DUBOSCQ, Hugues       1  left_only
44                DUSING, Nate       1  left_only
45               FERNS, Lyndon       1  left_only
47           MATKOVICH, Antony       1  left_only
48            GOLDBLATT, Scott       1  left_only
49              GYURTA, Daniel       1  left_only
51             KENKHUIS, Johan       1  left_only
52                KETCHUM, Dan       1  left_only
53               KLIM, Michael       1  left_only
54          KRAYZELBURG, Lenny       1  left_only
55                KRUPPA, Jens       1  left_only
56         BREMBILLA, Emiliano       1  left_only
57            MAGNINI, Filippo       1  left_only
58         ZWERING, Klaas-Erik       1  left_only

# - Right Join
## It will merge the dataframes on the basis of the data in the right dataframe and intersection.
## All Athlete, who were successful in Edition 2008(incl. 2004 Medals, Athlete who were successful in both Edition)

In [31]:
men_right = men2004.merge(men2008, on='Athlete', how='right', suffixes=('_2004', '_2008'), indicator=True)

In [33]:
men_right

                Athlete  Medals_2004  Medals_2008      _merge
0       PHELPS, Michael          8.0            8        both
1          LOCHTE, Ryan          2.0            4        both
2        BERNARD, Alain          NaN            3  right_only
3       SULLIVAN, Eamon          NaN            3  right_only
4   LAUTERSTEIN, Andrew          NaN            3  right_only
..                  ...          ...          ...         ...
57     LAGUNOV, Evgeniy          NaN            1  right_only
58        BERENS, Ricky          NaN            1  right_only
59         LURZ, Thomas          NaN            1  right_only
60      MALLET, Gregory          NaN            1  right_only
61           ZHANG, Lin          NaN            1  right_only

[62 rows x 4 columns]

# - Right Join without intersection
## It will merge the dataframes on the basis of the data in the right dataframe.
## All Athlete, who were successful only in Edition 2008

In [27]:
men0408.loc[men0408._merge == 'right_only']

                      Athlete  Medals_2004  Medals_2008      _merge
0              ADRIAN, Nathan          NaN          1.0  right_only
1               BERENS, Ricky          NaN          1.0  right_only
2              BERNARD, Alain          NaN          3.0  right_only
3         BOUSQUET, Frederick          NaN          1.0  right_only
6                BRITS, Grant          NaN          1.0  right_only
7               BRODIE, Leith          NaN          2.0  right_only
8              CALLUS, Ashley          NaN          1.0  right_only
10             CAVIC, Milorad          NaN          1.0  right_only
12         CIELO FILHO, Cesar          NaN          2.0  right_only
13             COCHRANE, Ryan          NaN          1.0  right_only
18            DELANEY, Ashley          NaN          1.0  right_only
24               FFROST, Nick          NaN          1.0  right_only
26              FUJII, Takuro          NaN          1.0  right_only
28              GILOT, Fabien          NaN          1.0  right_only
30              GREVERS, Matt          NaN          3.0  right_only
35             IZOTOV, Danila          NaN          1.0  right_only
37              JONES, Cullen          NaN          1.0  right_only
45           LAGUNOV, Evgeniy          NaN          1.0  right_only
46        LAUTERSTEIN, Andrew          NaN          3.0  right_only
47            LEVEAUX, Amaury          NaN          2.0  right_only
49          LOBINTSEV, Nikita          NaN          1.0  right_only
51               LURZ, Thomas          NaN          1.0  right_only
53            MALLET, Gregory          NaN          1.0  right_only
55           MATSUDA, Takeshi          NaN          1.0  right_only
57          MELLOULI, Oussama          NaN          1.0  right_only
58         MIYASHITA, Junichi          NaN          1.0  right_only
60            MURPHY, Patrick          NaN          2.0  right_only
62        OEN, Alexander Dale          NaN          1.0  right_only
64               PALMER, Kirk          NaN          1.0  right_only
65              PARK, Taehwan          NaN          2.0  right_only
71                 PINE, Adam          NaN          1.0  right_only
72        POLISHCHUK, Mikhail          NaN          1.0  right_only
73           RICKARD, Brenton          NaN          2.0  right_only
77            SATO, Hisayoshi          NaN          1.0  right_only
80        SPRENGER, Christian          NaN          1.0  right_only
82            STEIMETZ, Boris          NaN          1.0  right_only
84           STOECKEL, Hayden          NaN          2.0  right_only
85      SUKHORUKOV, Alexander          NaN          1.0  right_only
86            SULLIVAN, Eamon          NaN          3.0  right_only
87              TARGETT, Matt          NaN          2.0  right_only
91   VAN DER WEIJDEN, Maarten          NaN          1.0  right_only
95         VYATCHANIN, Arkady          NaN          2.0  right_only
97             WALTERS, David          NaN          1.0  right_only
98        WEBER-GALE, Garrett          NaN          2.0  right_only
99      WILDMAN-TOBRINER, Ben          NaN          1.0  right_only
103                ZHANG, Lin          NaN          1.0  right_only