In [1]:
import pandas as pd

In [9]:
table_2012 = pd.read_csv('../table_2012.csv')

In [10]:
table_2012.head()

  Country  Gold  Silver  Bronze
0     USA   147      57      46
1     CHN    56      44      28
2     GBR    48      30      48
3     RUS    47      32      51
4     GER    45      28      21

In [11]:
table_2012.shape

(20, 4)

# Mel method is used to transform the table from wide to long format. 
## id_vars: columns that will be kept as is
## value_vars: columns that will be transformed to rows
## var_name: name of the new column that will contain the columns in value_vars
## value_name: name of the new column that will contain the values of the columns in value_vars

In [14]:
melt_2012 = table_2012.melt(id_vars='Country', value_vars=['Gold', 'Silver', 'Bronze'], var_name='Medal', value_name='Count')

In [15]:
melt_2012

   Country   Medal  Count
0      USA    Gold    147
1      CHN    Gold     56
2      GBR    Gold     48
3      RUS    Gold     47
4      GER    Gold     45
5      FRA    Gold     30
6      NED    Gold     21
7      AUS    Gold     19
8      KOR    Gold     18
9      MEX    Gold     18
10     ITA    Gold     16
11     NOR    Gold     15
12     CRO    Gold     15
13     BRA    Gold     14
14     HUN    Gold     12
15     NZL    Gold      9
16     UKR    Gold      9
17     JAM    Gold      8
18     JPN    Gold      7
19     RSA    Gold      6
20     USA  Silver     57
21     CHN  Silver     44
22     GBR  Silver     30
23     RUS  Silver     32
24     GER  Silver     28
25     FRA  Silver     30
26     NED  Silver     29
27     AUS  Silver     36
28     KOR  Silver     13
29     MEX  Silver      5
30     ITA  Silver     22
31     NOR  Silver      1
32     CRO  Silver      4
33     BRA  Silver     34
34     HUN  Silver      8
35     NZL  Silver      3
36     UKR  Silver      4
37     JAM  Silver      9
38     JPN  Silver     44
39     RSA  Silver      2
40     USA  Bronze     46
41     CHN  Bronze     28
42     GBR  Bronze     48
43     RUS  Bronze     51
44     GER  Bronze     21
45     FRA  Bronze     22
46     NED  Bronze     19
47     AUS  Bronze     59
48     KOR  Bronze     32
49     MEX  Bronze      3
50     ITA  Bronze     30
51     NOR  Bronze      1
52     CRO  Bronze     16
53     BRA  Bronze     11
54     HUN  Bronze      6
55     NZL  Bronze     14
56     UKR  Bronze     12
57     JAM  Bronze      8
58     JPN  Bronze     33
59     RSA  Bronze      1

In [16]:
melt_2012.shape

(60, 3)

# The pivot method is used to transform the table from long to wide format. AND pivot method is used to transform the table from long to wide format. IS THE INVERSE OF MELT METHOD

In [17]:
melt_2012.pivot(index='Country', columns='Medal', values='Count').sort_values('Gold', ascending=False)

Medal    Bronze  Gold  Silver
Country
USA          46   147      57
CHN          28    56      44
GBR          48    48      30
RUS          51    47      32
GER          21    45      28
FRA          22    30      30
NED          19    21      29
AUS          59    19      36
KOR          32    18      13
MEX           3    18       5
ITA          30    16      22
NOR           1    15       1
CRO          16    15       4
BRA          11    14      34
HUN           6    12       8
NZL          14     9       3
UKR          12     9       4
JAM           8     8       9
JPN          33     7      44
RSA           1     6       2