In [1]:
import pandas as pd

In [2]:
tabel_1 = pd.read_csv("../table1.csv")

In [3]:
tabel_1

    Country   Medal  Count
0       AFG  Bronze      2
1       AHO  Silver      1
2       ALG  Bronze      8
3       ALG    Gold      5
4       ALG  Silver      2
..      ...     ...    ...
342     ZIM    Gold     18
343     ZIM  Silver      4
344     ZZX  Bronze     10
345     ZZX    Gold     23
346     ZZX  Silver     15

[347 rows x 3 columns]

# pivot() method is used to reshape the data. Is useful used when we have few categories and we want to see the data in a more readable way.

In [7]:
tabel1_piv = tabel_1.pivot(index='Country', columns='Medal', values='Count').fillna(0)

In [8]:
tabel1_piv

Medal    Bronze   Gold  Silver
Country
AFG         2.0    0.0     0.0
AHO         0.0    0.0     1.0
ALG         8.0    5.0     2.0
ANZ         5.0   20.0     4.0
ARG        91.0   69.0    99.0
...         ...    ...     ...
VIE         0.0    0.0     2.0
YUG       118.0  143.0   174.0
ZAM         1.0    0.0     1.0
ZIM         1.0   18.0     4.0
ZZX        10.0   23.0    15.0

[147 rows x 3 columns]

In [10]:
tabel1_piv.shape

(147, 3)

# SAME result as pivot() method but using set_index() and unstack() methods

In [13]:
tabel_1.set_index(['Country', 'Medal']).unstack(fill_value=0)

         Count
Medal   Bronze Gold Silver
Country
AFG          2    0      0
AHO          0    0      1
ALG          8    5      2
ANZ          5   20      4
ARG         91   69     99
...        ...  ...    ...
VIE          0    0      2
YUG        118  143    174
ZAM          1    0      1
ZIM          1   18      4
ZZX         10   23     15

[147 rows x 3 columns]

In [14]:
tabel1_piv

Medal    Bronze   Gold  Silver
Country
AFG         2.0    0.0     0.0
AHO         0.0    0.0     1.0
ALG         8.0    5.0     2.0
ANZ         5.0   20.0     4.0
ARG        91.0   69.0    99.0
...         ...    ...     ...
VIE         0.0    0.0     2.0
YUG       118.0  143.0   174.0
ZAM         1.0    0.0     1.0
ZIM         1.0   18.0     4.0
ZZX        10.0   23.0    15.0

[147 rows x 3 columns]

# Limits of pivot() method

In [15]:
tabel_2 = pd.read_csv("../table2.csv")

In [16]:
tabel_2

     Country  Year   Medal  Count
0        AFG  2008  Bronze      1
1        AFG  2012  Bronze      1
2        AHO  1988  Silver      1
3        ALG  1984  Bronze      2
4        ALG  1992  Bronze      1
...      ...   ...     ...    ...
2542     ZZX  1900  Bronze      8
2543     ZZX  1900    Gold     18
2544     ZZX  1900  Silver      8
2545     ZZX  1904    Gold      3
2546     ZZX  1904  Silver      5

[2547 rows x 4 columns]

In [17]:
tabel_2.shape

(2547, 4)

# We can not use pivot() method because we have more than one value for each combination of index and columns. !!!
## But we can use groupby() method to get the same result. Groupby() method is more flexible than pivot() method.

In [18]:
tabel_2.pivot(index='Country', columns='Medal', values='Count').fillna(0)

ValueError: Index contains duplicate entries, cannot reshape

# First we group the data by 'Country' and 'Medal' columns and then we sum the values of 'Count' column and finally we use unstack() method to reshape the data.

In [19]:
tabel_2.groupby(['Country', 'Medal']).Count.sum().unstack(fill_value=0)

Medal    Bronze  Gold  Silver
Country
AFG           2     0       0
AHO           0     0       1
ALG           8     5       2
ANZ           5    20       4
ARG          91    69      99
...         ...   ...     ...
VIE           0     0       2
YUG         118   143     174
ZAM           1     0       1
ZIM           1    18       4
ZZX          10    23      15

[147 rows x 3 columns]