In [1]:
import pandas as pd

In [2]:
temp = pd.read_csv('../temp.csv', parse_dates=['datetime'], index_col='datetime')
temp

                       LA   NY
datetime
2013-01-01 00:00:00  11.7 -1.1
2013-01-01 01:00:00  10.7 -1.7
2013-01-01 02:00:00   9.9 -2.0
2013-01-01 03:00:00   9.3 -2.1
2013-01-01 04:00:00   8.8 -2.3
...                   ...  ...
2016-12-31 19:00:00  13.5  4.6
2016-12-31 20:00:00  13.2  5.7
2016-12-31 21:00:00  12.8  5.8
2016-12-31 22:00:00  12.3  5.7
2016-12-31 23:00:00  11.9  5.5

[35064 rows x 2 columns]

# Method resample of pandas is same as groupby , but it is used for time series data!

In [3]:
temp.resample('D')

In [4]:
list(temp.resample('D'))[0][1]

                       LA   NY
datetime
2013-01-01 00:00:00  11.7 -1.1
2013-01-01 01:00:00  10.7 -1.7
2013-01-01 02:00:00   9.9 -2.0
2013-01-01 03:00:00   9.3 -2.1
2013-01-01 04:00:00   8.8 -2.3
2013-01-01 05:00:00   8.7 -2.5
2013-01-01 06:00:00   6.9 -3.2
2013-01-01 07:00:00   7.8 -3.4
2013-01-01 08:00:00   6.7 -3.0
2013-01-01 09:00:00   6.6 -1.8
2013-01-01 10:00:00   6.1 -1.4
2013-01-01 11:00:00   5.6 -1.8
2013-01-01 12:00:00   5.1 -1.7
2013-01-01 13:00:00   5.2 -1.5
2013-01-01 14:00:00   4.6 -1.0
2013-01-01 15:00:00   5.1 -0.0
2013-01-01 16:00:00   6.2  1.2
2013-01-01 17:00:00   9.3  2.2
2013-01-01 18:00:00  11.4  3.3
2013-01-01 19:00:00  12.0  3.5
2013-01-01 20:00:00  12.9  3.1
2013-01-01 21:00:00  13.9  2.4
2013-01-01 22:00:00  14.1  2.4
2013-01-01 23:00:00  14.0  2.7

In [5]:
temp.resample('D').first()  # first value of the day for LA and NY

              LA    NY
datetime
2013-01-01  11.7  -1.1
2013-01-02  13.2   2.6
2013-01-03  15.1   0.3
2013-01-04  16.3  -1.2
2013-01-05  18.1  -1.2
...          ...   ...
2016-12-27  15.1   4.1
2016-12-28  19.9  11.2
2016-12-29  23.3   2.1
2016-12-30  25.5   3.0
2016-12-31  15.7   0.8

[1461 rows x 2 columns]

In [6]:
temp.resample('D').sum()

               LA     NY
datetime
2013-01-01  212.6   -9.7
2013-01-02  222.8   77.0
2013-01-03  247.3  -58.2
2013-01-04  276.3  -49.7
2013-01-05  266.0   19.6
...           ...    ...
2016-12-27  291.7  253.9
2016-12-28  346.4   96.4
2016-12-29  385.1   31.5
2016-12-30  382.4   52.9
2016-12-31  318.6   28.9

[1461 rows x 2 columns]

In [7]:
temp.resample('D').last()   # last value of the day

              LA    NY
datetime
2013-01-01  14.0   2.7
2013-01-02  15.1   1.2
2013-01-03  16.6  -1.5
2013-01-04  20.0  -1.2
2013-01-05  17.8   2.0
...          ...   ...
2016-12-27  20.1  12.9
2016-12-28  24.3   2.6
2016-12-29  25.6   4.2
2016-12-30  15.9   1.2
2016-12-31  11.9   5.5

[1461 rows x 2 columns]

In [8]:
temp.resample('D').mean()   # mean value of the day

                   LA         NY
datetime
2013-01-01   8.858333  -0.404167
2013-01-02   9.283333   3.208333
2013-01-03  10.304167  -2.425000
2013-01-04  11.512500  -2.070833
2013-01-05  11.083333   0.816667
...               ...        ...
2016-12-27  12.154167  10.579167
2016-12-28  14.433333   4.016667
2016-12-29  16.045833   1.312500
2016-12-30  15.933333   2.204167
2016-12-31  13.275000   1.204167

[1461 rows x 2 columns]

In [9]:
temp.resample('D').max()   # max value of the day

              LA    NY
datetime
2013-01-01  14.1   3.5
2013-01-02  15.1   4.0
2013-01-03  18.1   0.8
2013-01-04  20.7   1.1
2013-01-05  18.5   3.5
...          ...   ...
2016-12-27  20.1  15.6
2016-12-28  24.3  11.2
2016-12-29  25.6   6.3
2016-12-30  25.5   3.8
2016-12-31  15.7   5.8

[1461 rows x 2 columns]

In [10]:
temp.resample('D').min()   # min value of the day

              LA   NY
datetime
2013-01-01   4.6 -3.4
2013-01-02   5.6  1.2
2013-01-03   2.4 -5.1
2013-01-04   5.1 -4.6
2013-01-05   1.7 -1.2
...          ...  ...
2016-12-27   7.4  4.1
2016-12-28   9.2  1.6
2016-12-29  10.2 -2.4
2016-12-30  12.4  0.5
2016-12-31  11.9 -1.8

[1461 rows x 2 columns]

In [11]:
temp.resample('W', kind='period').mean()   # mean value of the week

C:\Users\Darius\AppData\Local\Temp\ipykernel_11596\2922530615.py:1: FutureWarning: The 'kind' keyword in DataFrame.resample is deprecated and will be removed in a future version. Explicitly cast the index to the desired type instead
  temp.resample('W', kind='period').mean()   # mean value of the week

                              LA        NY
datetime
2012-12-31/2013-01-06  10.214583  0.222917
2013-01-07/2013-01-13  10.494048  4.245238
2013-01-14/2013-01-20  11.119643  3.924405
2013-01-21/2013-01-27  15.586905 -4.660714
2013-01-28/2013-02-03  11.569643  1.502381
...                          ...       ...
2016-11-28/2016-12-04  12.975595  8.024405
2016-12-05/2016-12-11  13.738095  1.922619
2016-12-12/2016-12-18  13.466667  0.052381
2016-12-19/2016-12-25  13.007143  1.149405
2016-12-26/2017-01-01  13.511806  3.479861

[209 rows x 2 columns]