In [1]:
import pandas as pd

In [2]:
temp = pd.read_csv('../temp.csv', parse_dates=['datetime'], index_col='datetime')
temp

                       LA   NY
datetime
2013-01-01 00:00:00  11.7 -1.1
2013-01-01 01:00:00  10.7 -1.7
2013-01-01 02:00:00   9.9 -2.0
2013-01-01 03:00:00   9.3 -2.1
2013-01-01 04:00:00   8.8 -2.3
...                   ...  ...
2016-12-31 19:00:00  13.5  4.6
2016-12-31 20:00:00  13.2  5.7
2016-12-31 21:00:00  12.8  5.8
2016-12-31 22:00:00  12.3  5.7
2016-12-31 23:00:00  11.9  5.5

[35064 rows x 2 columns]

In [3]:
temp.loc['2013-01-01 01:00:00']

LA    10.7
NY    -1.7
Name: 2013-01-01 01:00:00, dtype: float64

In [4]:
temp.loc["2015"]

                       LA   NY
datetime
2015-01-01 00:00:00   3.8 -5.1
2015-01-01 01:00:00   4.4 -5.1
2015-01-01 02:00:00   3.2 -6.0
2015-01-01 03:00:00   1.2 -6.0
2015-01-01 04:00:00   0.2 -6.0
...                   ...  ...
2015-12-31 19:00:00  16.0  8.1
2015-12-31 20:00:00  16.0  8.1
2015-12-31 21:00:00  16.4  7.9
2015-12-31 22:00:00  16.6  7.2
2015-12-31 23:00:00  16.8  6.2

[8760 rows x 2 columns]

In [6]:
temp.loc["2015-01-01 10:00:00"]

LA   -5.5
NY   -6.6
Name: 2015-01-01 10:00:00, dtype: float64

Slice data

In [8]:
temp.loc["2015-01" : "2015-03"]  # all data from January to March

                       LA   NY
datetime
2015-01-01 00:00:00   3.8 -5.1
2015-01-01 01:00:00   4.4 -5.1
2015-01-01 02:00:00   3.2 -6.0
2015-01-01 03:00:00   1.2 -6.0
2015-01-01 04:00:00   0.2 -6.0
...                   ...  ...
2015-03-31 19:00:00  23.1  8.2
2015-03-31 20:00:00  24.1  8.4
2015-03-31 21:00:00  23.1  7.2
2015-03-31 22:00:00  24.7  7.9
2015-03-31 23:00:00  24.3  7.2

[2160 rows x 2 columns]

In [9]:
temp.loc["2015-01-05" : "2015-03-05"]  # for 05 January to 05 March

                       LA    NY
datetime
2015-01-05 00:00:00  10.5   9.6
2015-01-05 01:00:00  11.9   9.9
2015-01-05 02:00:00   8.4   9.7
2015-01-05 03:00:00   8.1  10.2
2015-01-05 04:00:00   3.5   9.8
...                   ...   ...
2015-03-05 19:00:00  17.4  -5.3
2015-03-05 20:00:00  18.8  -5.5
2015-03-05 21:00:00  18.3  -6.1
2015-03-05 22:00:00  20.2  -6.4
2015-03-05 23:00:00  20.3  -6.5

[1440 rows x 2 columns]

In [10]:
temp.loc["2015-01-05" : ]  # for 05 January to end

                       LA    NY
datetime
2015-01-05 00:00:00  10.5   9.6
2015-01-05 01:00:00  11.9   9.9
2015-01-05 02:00:00   8.4   9.7
2015-01-05 03:00:00   8.1  10.2
2015-01-05 04:00:00   3.5   9.8
...                   ...   ...
2016-12-31 19:00:00  13.5   4.6
2016-12-31 20:00:00  13.2   5.7
2016-12-31 21:00:00  12.8   5.8
2016-12-31 22:00:00  12.3   5.7
2016-12-31 23:00:00  11.9   5.5

[17448 rows x 2 columns]

In [11]:
temp.loc[:"2015-01-05"]  # for start to 05 January

                       LA   NY
datetime
2013-01-01 00:00:00  11.7 -1.1
2013-01-01 01:00:00  10.7 -1.7
2013-01-01 02:00:00   9.9 -2.0
2013-01-01 03:00:00   9.3 -2.1
2013-01-01 04:00:00   8.8 -2.3
...                   ...  ...
2015-01-05 19:00:00  12.7  1.7
2015-01-05 20:00:00  15.3  0.6
2015-01-05 21:00:00  13.6 -0.5
2015-01-05 22:00:00  17.5 -1.3
2015-01-05 23:00:00  17.2 -2.2

[17640 rows x 2 columns]