In [1]:
import pandas as pd

In [2]:
temp = pd.read_csv('../temp.csv', parse_dates=['datetime'], index_col='datetime')
temp

                       LA   NY
datetime
2013-01-01 00:00:00  11.7 -1.1
2013-01-01 01:00:00  10.7 -1.7
2013-01-01 02:00:00   9.9 -2.0
2013-01-01 03:00:00   9.3 -2.1
2013-01-01 04:00:00   8.8 -2.3
...                   ...  ...
2016-12-31 19:00:00  13.5  4.6
2016-12-31 20:00:00  13.2  5.7
2016-12-31 21:00:00  12.8  5.8
2016-12-31 22:00:00  12.3  5.7
2016-12-31 23:00:00  11.9  5.5

[35064 rows x 2 columns]

In [5]:
temp.resample('ME', kind='period').mean()  # ME: month end

C:\Users\Darius\AppData\Local\Temp\ipykernel_19624\2654596750.py:1: FutureWarning: The 'kind' keyword in DataFrame.resample is deprecated and will be removed in a future version. Explicitly cast the index to the desired type instead
  temp.resample('ME', kind='period').mean()  # ME: month end

                 LA         NY
datetime
2013-01   11.596237   1.129570
2013-02   12.587202   0.617857
2013-03   15.069946   3.719220
2013-04   16.487361  10.699306
2013-05   19.005780  15.824328
2013-06   19.905417  22.225694
2013-07   22.093952  26.329704
2013-08   21.513172  22.480376
2013-09   22.404861  18.291806
2013-10   16.620430  14.335215
2013-11   15.107917   7.111944
2013-12   13.416935   2.776210
2014-01   16.247715  -2.210349
2014-02   14.326637  -1.596280
2014-03   15.836156   1.994758
2014-04   16.783472  10.128611
2014-05   20.041398  16.829167
2014-06   19.810556  21.784861
2014-07   23.056183  24.019624
2014-08   22.146102  21.848387
2014-09   21.620278  19.267222
2014-10   16.968280  14.265860
2014-11   11.322083   5.719167
2014-12    8.523925   3.513844
2015-01    9.527016  -4.179301
2015-02   11.587649  -7.239732
2015-03   14.465995   1.020161
2015-04   13.527917  10.180417
2015-05   14.540054  18.731586
2015-06   20.995000  20.347500
2015-07   22.899059  24.252151
2015-08   24.846909  24.046774
2015-09   24.586250  21.589861
2015-10   21.785753  12.656452
2015-11   15.255278  10.117500
2015-12   11.919758   8.662500
2016-01   12.509274   0.168952
2016-02   16.600431   2.069971
2016-03   15.686425   8.070430
2016-04   17.726111  10.535556
2016-05   17.375403  15.874462
2016-06   22.536111  21.462639
2016-07   24.541532  24.767608
2016-08   23.983199  25.351882
2016-09   22.379306  21.032778
2016-10   16.137903  14.321640
2016-11   17.196111   8.539722
2016-12   13.390457   2.327285