In [1]:
import pandas as pd

In [2]:
titanic = pd.read_csv('../../Data/titanic.csv')

In [4]:
titanic_slice = titanic.iloc[:10, [2,3]]

In [6]:
titanic_slice

      sex   age
0    male  22.0
1  female  38.0
2  female  26.0
3  female  35.0
4    male  35.0
5    male   NaN
6    male  54.0
7    male   2.0
8  female  27.0
9  female  14.0

Is a object of GroupBy

In [8]:
titanic_slice.groupby('sex')

In [10]:
gbo = titanic_slice.groupby('sex')

In [12]:
type(gbo)

pandas.core.groupby.generic.DataFrameGroupBy

In [13]:
gbo.groups

{'female': [1, 2, 3, 8, 9], 'male': [0, 4, 5, 6, 7]}

In [14]:
l = list(gbo)

# GroupBy split 2 groups (split by the key 'sex')
## The list is a list of tuples, each tuple has 2 elements (DF with female and DF with male)

In [15]:
l

[('female',
        sex   age
  1  female  38.0
  2  female  26.0
  3  female  35.0
  8  female  27.0
  9  female  14.0),
 ('male',
      sex   age
  0  male  22.0
  4  male  35.0
  5  male   NaN
  6  male  54.0
  7  male   2.0)]

In [16]:
l[0]

('female',
       sex   age
 1  female  38.0
 2  female  26.0
 3  female  35.0
 8  female  27.0
 9  female  14.0)

In [21]:
type(l[0])

tuple

First element of the list is a tuple with the group name and the data frame.
[0] = group name
[1] = data frame

In [19]:
l[0][1]

      sex   age
1  female  38.0
2  female  26.0
3  female  35.0
8  female  27.0
9  female  14.0

In [20]:
type(l[0][1])

pandas.core.frame.DataFrame