In [1]:
import pandas as pd

In [2]:
titanic = pd.read_csv("../../Data/titanic.csv", usecols=["survived", "pclass", "sex", "age"])

In [3]:
titanic

     survived  pclass     sex   age
0           0       3    male  22.0
1           1       1  female  38.0
2           1       3  female  26.0
3           1       1  female  35.0
4           0       3    male  35.0
..        ...     ...     ...   ...
886         0       2    male  27.0
887         1       1  female  19.0
888         0       3  female   NaN
889         1       1    male  26.0
890         0       3    male  32.0

[891 rows x 4 columns]

In [5]:
summary = titanic.groupby(by=["sex", "pclass"]).mean()

In [6]:
summary

               survived        age
sex    pclass
female 1       0.968085  34.611765
       2       0.921053  28.722973
       3       0.500000  21.750000
male   1       0.368852  41.281386
       2       0.157407  30.740707
       3       0.135447  26.507589

In [7]:
summary.index

MultiIndex([('female', 1),
            ('female', 2),
            ('female', 3),
            (  'male', 1),
            (  'male', 2),
            (  'male', 3)],
           names=['sex', 'pclass'])

# When we have a multiindex, we can use the loc method to access the data. The first argument is a tuple with the values of the index. If we want to access the data of the first row, we can use the following code:

In [8]:
summary.loc[("female", 2), :]

survived     0.921053
age         28.722973
Name: (female, 2), dtype: float64

## First element of the tuple is the value of the first index, and the second element is the value of the second index. If we want to access the age of the first row, we can use the following code:

In [9]:
summary.loc[("female", 2), "age"]

28.722972972972972

## Method swaplevel() changes the order of the levels of the index(now is pclass first). The following code changes the order of the levels of the index:

In [10]:
summary.swaplevel().sort_index()

               survived        age
pclass sex
1      female  0.968085  34.611765
       male    0.368852  41.281386
2      female  0.921053  28.722973
       male    0.157407  30.740707
3      female  0.500000  21.750000
       male    0.135447  26.507589

# We can use reset_index to convert the index into columns. The following code converts the index into columns:

In [11]:
summary.reset_index()

      sex  pclass  survived        age
0  female       1  0.968085  34.611765
1  female       2  0.921053  28.722973
2  female       3  0.500000  21.750000
3    male       1  0.368852  41.281386
4    male       2  0.157407  30.740707
5    male       3  0.135447  26.507589