In [1]:
import pandas as pd

In [2]:
titanic = pd.read_csv("../../Data/titanic.csv")

In [3]:
titanic.groupby(by='sex').survived.mean()

sex
female    0.742038
male      0.188908
Name: survived, dtype: float64

# With transform method we can mean for all the rows in the group
## We need specify the column we want to apply the function and the function we want to apply

In [12]:
titanic.groupby(by=['sex', 'pclass']).survived.transform('mean')

0      0.135447
1      0.968085
2      0.500000
3      0.968085
4      0.135447
         ...
886    0.157407
887    0.968085
888    0.500000
889    0.368852
890    0.135447
Name: survived, Length: 891, dtype: float64

# We can create a new column with the result of the transform method

In [10]:
titanic["group_surv_rate"] = titanic.groupby(by=['sex',  'pclass']).survived.transform('mean')

First pasanger has a 13 % of survival rate

In [11]:
titanic

,survived,pclass,sex,age,sibsp,parch,fare,embarked,deck,surv_rate,group_surv_rate
0,0,3,male,22.0,1,0,7.2500,S,NaN,0.135447,0.135447
1,1,1,female,38.0,1,0,71.2833,C,C,0.968085,0.968085
2,1,3,female,26.0,0,0,7.9250,S,NaN,0.500000,0.500000
3,1,1,female,35.0,1,0,53.1000,S,C,0.968085,0.968085
4,0,3,male,35.0,0,0,8.0500,S,NaN,0.135447,0.135447
...,...,...,...,...,...,...,...,...,...,...,...
886,0,2,male,27.0,0,0,13.0000,S,NaN,0.157407,0.157407
887,1,1,female,19.0,0,0,30.0000,S,B,0.968085,0.968085
888,0,3,female,NaN,1,2,23.4500,S,NaN,0.500000,0.500000
889,1,1,male,26.0,0,0,30.0000,C,C,0.368852,0.368852
890,0,3,male,32.0,0,0,7.7500,Q,NaN,0.135447,0.135447